block pageVariables
doctype html
html(lang="en")
    head
        title= pageTitle
        include frames/metahead
        block pageHead
        script(src="/js/main.js")
        script(src="https://storage.awes.io/680a7d07f89b94e7fc83be657a2daa27/awes-io/base-js/v1.0.0/js/main.js")
    body
        div(class="mainwrapper" id="awes-app")
            div(class="frame")
                include frames/aside_docs
                div(class="frame__right")
                    include frames/header_docs
                    div.frame__content
                        block pageContent
                            p Content Block
