block pageVariables
doctype html
html(lang="en")
    head
        title= pageTitle
        include frames/metahead
        block pageHead
    body
        div(class="mainwrapper" id="awes-app")

            block pageContent
