block pageVariables
doctype html
html(lang="en")
    head
        title= pageTitle
        include frames/metahead
        block pageHead
    body
        div(class="mainwrapper" id="awes-app")
            div(class="frame")
                transition(enter-active-class="animated fadeIn" leave-active-class="animated fadeOut")
                    .frame__overlay(v-show="$awesLayoutCrm.togglenav || $awesLayoutCrm.showUserMenu" @click="$awesLayoutCrm.overlayClick")
                if(!asideFalse)
                    include frames/aside
                div(class="frame__right")
                    include frames/header
                    div.frame__content
                        button.frame__header-add
                            i.icon.icon-plus
                        block pageContent
                            p Content Block

            .float-icns
                button.float-icns__icon.float-icns__icon_helper(@click="$awesLayoutCrm.showHelpers = ! $awesLayoutCrm.showHelpers") ?
