// Custom classes
.{framework_class_prefix}text
    &-center
        text-align center
    &-left
        text-align left
    &-right
        text-align right
    &-thin
        font-weight 100
    &-light
        font-weight 300
    &-regular
        font-weight 300
    &-medium
        font-weight 500
    &-semibold
        font-weight 500
    &-bold, &-strong
        font-weight 700
    &-black
        font-weight 700
    &-upper
        text-transform uppercase
    &-through
        text-decoration line-through
    &-cap
        text-transform capitalize
    &-nobreak
        word-break normal !important
    &-nowrap
        display block
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        max-width 100%
    &-oneline
        white-space nowrap


// Media for classes
if grid_bpoint is defined && grid_bpoint
    for index, key in grid_bpoint
        @media(max-width (key)px)
            .{framework_class_prefix}text
                &-center--{index}{grid_default_class}
                    text-align center
                &-left--{index}{grid_default_class}
                    text-align left
                &-right--{index}{grid_default_class}
                    text-align right
            
    for index, key in invert_hash(grid_bpoint)
        @media(min-width (key + 1)px)
            .{framework_class_prefix}text
                &-center--{index}{grid_inverted_class}
                    text-align center
                &-left--{index}{grid_inverted_class}
                    text-align left
                &-right--{index}{grid_inverted_class}
                    text-align right