.fb-phone
    z-index auto
    position relative
    & &__label
        font-size f_middle
        absolute left 65px top 7px
        width calc(100% - 75px)
        padding 8px 15px 3px 10px
        display block
        border-radius var(--tc_form_border_radius)
        pointer-events none
        z-index 1
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
        tr(0.15)
        color var(--tc_text_caption)
    input
        height 48px
        padding-left 15px !important
        padding-right 15px
        width calc(100% - 60px) !important
        placeholder(transparent)
        background-color var(--tc_ui_bg) !important
        color var(--tc_text) !important
        formautofill()
    &.has-label input
        padding-top 14px
    ul
        top 48px !important
        width 100% !important
        z-index 3 !important
        margin-left 0
        left 0 !important
        background-color var(--tc_ui_bg) !important
        border 1px solid var(--tc_border_ins) !important
        li
            margin-bottom 5px !important
            padding-left 8px !important
            strong
                font-weight 400
    .dropdown
        position static !important
        width 60px
        tr(0.25)
        border-radius var(--tc_form_border_radius) 0 0 var(--tc_form_border_radius)
        background-color var(--tc_ui_bg) !important
        border-right 1px solid var(--tc_border_ins)
        &:hover
            background-color var(--tc_ui_bg_semi_light) !important
        &-item
            color var(--tc_text) !important
            &.highlighted
                background-color var(--tc_ui_bg_semi) !important
    .vue-tel-input
        display flex
        border 1px solid var(--tc_border_ins) !important
        border-radius var(--tc_form_border_radius) !important
        &:focus-within
            box-shadow none !important
            border-color var(--tc_ui_focus) !important
        input
            border-radius var(--tc_form_border_radius) !important
    &_active
        & ^[0]__label
            font-size 10px
            top 1px
            height auto
    &_disabled
        disabled()
    &_ok
        input
            padding-right 50px
        & ^[0]__label
            width calc(100% - 110px)
        .vue-tel-input
            border 1px solid cl_salad !important
    &_error
        .vue-tel-input
            border 1px solid cl_warn !important
            &:focus-within
                box-shadow none !important
                border-color cl_warn !important
        & ^[0]__label
            color cl_warn