.fc-radio
    width 100%
    text-align center
    overflow hidden
    position relative
    & &__wrap
        fl()
    & &__box
        width 100%
        cursor pointer
        border 1px solid var(--tc_border)
        border-left none
        color var(--tc_text_caption)
        overflow hidden
        background-color var(--tc_ui_bg_semi)
        &:first-child
            border-left 1px solid var(--tc_border)
            border-radius var(--tc_form_border_radius) 0 0 var(--tc_form_border_radius)
        &:last-child
            border-radius 0 var(--tc_form_border_radius) var(--tc_form_border_radius) 0
        &.is-checked
            background var(--tc_ui_bg)
    & &__text
        padding 7px
        width 100%
        display block
        background-color var(--tc_ui_bg_semi)
    & &__field
        absolute left 0 top 0
        size 0px
        opacity 0
        &:focus
            & + ^[0]__text
                background-color var(--tc_ui_focus)
                color cl_white
        &:checked
            & + ^[0]__text
                background-color var(--tc_ui_bg)
                color var(--tc_text)
    &_disabled
        disabled()
        opacity 0.5
    &_error
        & ^[0]__box
            border-color cl_warn
            &:first-child
                border-color cl_warn
    &_ok
        & ^[0]__box
            border-color cl_grass
            &:first-child
                border-color cl_grass

