block pageVariables
doctype html
html(lang="en")
    head
        title= pageTitle
        include frames/metahead
        block pageHead
        script(src="/js/main.js")
        script(src="https://storage.awes.io/680a7d07f89b94e7fc83be657a2daa27/awes-io/js-core/v0.x.x/js/main.js")
    body
        div(class="mainwrapper" id="awes-app")

            .static-page
                .static-page__head
                    nav.static-page__wrap
                        .static-page__wrap-left
                            h2.static-page__title= pageTitle
                            a.static-page__search-link(href='')
                                i.icon.icon-search 
                        .static-page__wrap-right
                            block rightHead
                .static-page__wrap
                    .static-page__content
                        .static-page__cell(class=pageContentClass)
                            block pageContent
                                p Content Block
                    footer.static-page__footer
                        .static-page__footer-logo
                            i.icon.icon-logo
                            span
                                | Powered by 
                                a(href='') AwesCRM
                        