.frame__aside#aside
    .frame__aside-line
        span.frame__aside-open.g-res--tablet-lg( :class="{ active: togglenav }" @click="openNav")
            span
        h2.frame__aside-title AwesCRM
    nav.frame__aside-nav(v-bind:class="{ active: togglenav }")
        div(class="frame__aside-mhead g-res--tablet-lg")
            a(href="" class="frame__aside-close" @click.prevent="openNav()")
                i(class="icon icon-cross")
                h4(class="frame__aside-mtitle")
                    span AwesCRM
        frame-nav(:links="[{title:'Dashboard',icon: 'speed', active:true, link: '#'}, {title:'Admin',icon:'report',sub:[{title:'Dashboard',icon:null,link:'#'},{title:'Plans',icon:null,link:'#'}]}]")
            div(class="ph")
                div(class="ph__mnav")
                    span(class="ph__mnav-link")
                    span(class="ph__mnav-title")
                ul(class="ph__nav")
                    li
                        span(class="ph__nav-icon")
                        span(class="ph__nav-text")
                    li
                        span(class="ph__nav-icon")
                        span(class="ph__nav-text")
                    li
                        span(class="ph__nav-icon")
                        span(class="ph__nav-text")
                    li
                        span(class="ph__nav-icon")
                        span(class="ph__nav-text")
                    li
                        span(class="ph__nav-icon")
                        span(class="ph__nav-text")
