block pageVariables
doctype html
html(lang="en")
    head
        title= pageTitle
        include frames/metahead
        block pageHead
        script(src="/js/main.js")
        script(src="https://storage.awes.io/680a7d07f89b94e7fc83be657a2daa27/awes-io/js-core/v0.1.2/js/main.js")
    body
        div(class="mainwrapper" id="awes-app")
            div(class="frame")
                transition(enter-active-class="animated fadeIn" leave-active-class="animated fadeOut")
                    .frame__overlay(v-show="$awesLayoutCrm.togglenav || $awesLayoutCrm.showUserMenu" @click="$awesLayoutCrm.overlayClick")
                include frames/aside
                div(class="frame__right")
                    include frames/header
                    div.frame__content
                        block pageContent
                            p Content Block
            
            .float-icns
                button.float-icns__icon.float-icns__icon_helper ?

                        