//- right bottom
notifications.notifications_rb(group="bottom-right" position="bottom right")
    template(slot="body" slot-scope="props")
        .vue-notification(:class="props.item.type")
            .vue-notification__wrap
                i.icon.icon-circle-check.vue-notification__left-icon
                span.vue-notification__title {{ props.item.title }}
                span.vue-notification__text(v-html="props.item.text")
                button.vue-notification__close(@click.prevent="props.close")
                    i.icon.icon-cross
//- top
notifications.notifications_header(group="undo" width="360px" position="top center")
    template(slot="body" slot-scope="props")
        .vue-notification.vue-notification_content(:class="props.item.type")
            span.vue-notification__animation(:style="{animationDuration: props.item.length + 'ms'}")
            .vue-notification__wrap
                span.title {{props.item.title}}</span>
                button.vue-notification__btn.vue-notification__btn_mleft(@click.prevent="")
                    strong UNDO
                button.vue-notification__close(@click.prevent="props.close")
                    i.icon.icon-cross
