if framework_class_prefix is defined && framework_class_prefix
	// stylus bugfix
else 
	framework_class_prefix = ''

if grid_bpoint is defined && grid_bpoint
	if grid_always_inverted is defined && grid_always_inverted
		grid_inverted_class = ''
		grid_default_class = '-i'
	else
		grid_inverted_class = '-i'
		grid_default_class = ''        

font-url(file)
	return '../fonts/' + file

webfont(family, file, weight = 'normal')
	@font-face
		font-family family
		src url(font-url(file + '.eot'))
		src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
				url(font-url(file + '.woff')) format('woff'), 
				url(font-url(file + '.ttf')) format('truetype'), 
				url(font-url(file + '.svg#'+ family)) format('svg')
		font-weight weight
		font-style normal

invert_hash(hash)
	a2 = {}
	keys = keys(hash)
	len = length(keys) - 1
	for key, idx in keys
		key2 = keys[len - idx]
		a2[key2] = hash[key2]
	return a2

if(responsive == true)
	wrap(width = wrapper, paddingd = wrap_padding)
		margin-left auto
		margin-right auto
		padding-left paddingd
		padding-right paddingd
		max-width width
else
	wrap(width = wrapper, paddingd = wrap_padding)
		margin-left auto
		margin-right auto
		padding-left paddingd
		padding-right paddingd
		max-width width
		width width

placeholder(color)
	&::-webkit-input-placeholder
		color color
	&::-moz-placeholder
		color color
	&:-ms-input-placeholder
		color color
	&:-moz-placeholder
		color color

icon(hasgtag, fz = 1rem, aft = 'before')
	if aft == 'before'
		&:before
			@extends .icon, .icon-{hasgtag}::before
			font-size fz
	else
		&:after
			@extends .icon, .icon-{hasgtag}::before
			font-size fz

fl(ww = 'nowrap', jj = 'flex-start', aa = 'stretch')
	display flex
	// wrap
	if ww == 'n'
		flex-wrap nowrap
	else if ww == 'w'
		flex-wrap wrap
	else if ww != "nowrap"
		flex-wrap ww

	// justify content
	if jj == "fs"
		justify-content flex-start
	else if jj == "fe"
		justify-content flex-end
	else if jj == "sb"
		justify-content space-between
	else if jj == "sa"
		justify-content space-around
	else if jj == "c"
		justify-content center
	else if jj != 'flex-start'
		justify-content jj

	// align items
	if aa == "fs"
		align-items flex-start
	else if aa == "fe"
		align-items flex-end
	else if aa == "c"
		align-items center
	else if aa != "stretch"
		align-items aa

disabled()
	cursor not-allowed !important
	user-select none
	opacity 0.75
	*
		pointer-events none

formautofill()
	&:not(:-webkit-autofill)
		animation-name: autoFillEnd
	&:-webkit-autofill
		animation-name: autoFillStart
		-webkit-box-shadow 0 0 0 30px var(--tc_ui_bg) inset
		-webkit-text-fill-color var(--tc_text) !important

bg(urls, positionr = 'center center', psr = 'no-repeat')
	background-image url(pathimg+urls) 
	if positionr == 'c'
		background-position center center
	else if positionr == 'center center'
		background-position center center	
	else if positionr == 'lt'
		background-position left top
	else if positionr == 'ct'
		background-position center top
	else if positionr == 'rt'
		background-position right top
	else if positionr == 'lc'
		background-position left center
	else if positionr == 'rc'
		background-position right center
	else if positionr == 'cc'
		background-position center center
	else if positionr == 'lb'
		background-position left bottom
	else if positionr == 'rb'
		background-position right bottom
	else if positionr == 'cb'
		background-position center bottom
	else if positionr == 'cover'
		background-size cover
	else if positionr == 'ccc'
		background-size cover
		background-position center center
	else if positionr == 'contain'
		background-size contain
	else if positionr != "center center" 
		background-position positionr
	if psr == "r"
		background-repeat repeat
	else if psr == 'x'
		background-repeat repeat-x
	else if psr == 'y'
		background-repeat repeat-y
	else if psr == 'no-repeat'
		background-repeat no-repeat

clear()
	&:after
		display table
		clear both
		content ""

tr(t, tp = all)
	transition tp (t)s ease

text(fz = 14px, fw = 400, lh = normal, ls = normal)
	font-size fz 
	font-weight fw
	line-height lh
	letter-spacing ls

angle()
	border 3px solid transparent
	border-top 4px solid #999
	size 0px
	display block
	absolute right 0 top 50%
	margin-top -2px
	tr(0.3)
	content ''

phAnimation(color_def, color_s)
	background-image linear-gradient(to left, 'var('+color_def+')' 0%, 'var('+color_s+')' 50%, 'var('+color_def+')' 100%)
	background-size 500% 100%

phLineBg(color_def)
	background-image linear-gradient(to left, 'var('+color_def+')' 0%, 'var('+color_def+')' 30%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 33%, 'var('+color_def+')' 33%, 'var('+color_def+')' 63%, rgba(0,0,0,0) 63%, rgba(0,0,0,0) 66%, 'var('+color_def+')' 66%, 'var('+color_def+')' 100%)

clearlist()
	margin 0
	padding 0
	li
		margin 0
		padding 0
		&:before
			display none

