@import "../_init.styl"
@import "../_variables.styl"

html, body
    background-color: cl_white
    color: cl_black

html[data-dark="true"]

    &, & body
        background-color: cl_wall
        color: cl_white