@font-face
  font-family: "icons"
  src: url('../fonts/icons.eot?v=1566219483448')
  src: url('../fonts/icons.eot?v=1566219483448?#iefix') format('eot'), url('../fonts/icons.woff?v=1566219483448') format('woff'), url('../fonts/icons.ttf?v=1566219483448') format('truetype')
  font-weight: 400
  font-style: normal

.icon
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 icons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

.icon-lg
    vertical-align: -15%
    line-height: 0.75em
    font-size: 1.33333333em

.icon-2x
    font-size: 2em

.icon-3x
    font-size: 3em

.icon-4x
    font-size: 4em

.icon-5x
    font-size: 5em

.icon-fw
    width: 1.28571429em
    text-align: center


.icon-angle-bottom::before
    content: "\ea01"

.icon-ar-right::before
    content: "\ea02"

.icon-arrow-left::before
    content: "\ea03"

.icon-arrow-right::before
    content: "\ea04"

.icon-box-down::before
    content: "\ea05"

.icon-box-minus::before
    content: "\ea06"

.icon-box-pause::before
    content: "\ea07"

.icon-box-plus::before
    content: "\ea08"

.icon-box::before
    content: "\ea09"

.icon-briefcase::before
    content: "\ea0a"

.icon-call::before
    content: "\ea0b"

.icon-card::before
    content: "\ea0c"

.icon-checkbox::before
    content: "\ea0d"

.icon-circle-check::before
    content: "\ea0e"

.icon-circle-clock::before
    content: "\ea0f"

.icon-circle-cross::before
    content: "\ea10"

.icon-circle-plus::before
    content: "\ea11"

.icon-clipboard::before
    content: "\ea12"

.icon-cross::before
    content: "\ea13"

.icon-data-error::before
    content: "\ea14"

.icon-data-time::before
    content: "\ea15"

.icon-database-error::before
    content: "\ea16"

.icon-database::before
    content: "\ea17"

.icon-dfcheck::before
    content: "\ea18"

.icon-document::before
    content: "\ea19"

.icon-dots::before
    content: "\ea1a"

.icon-down::before
    content: "\ea1b"

.icon-drag::before
    content: "\ea1c"

.icon-exel::before
    content: "\ea1d"

.icon-eye::before
    content: "\ea1e"

.icon-eye2::before
    content: "\ea1f"

.icon-fb::before
    content: "\ea20"

.icon-file::before
    content: "\ea21"

.icon-filter::before
    content: "\ea22"

.icon-flag::before
    content: "\ea23"

.icon-gift::before
    content: "\ea24"

.icon-gp::before
    content: "\ea25"

.icon-graph::before
    content: "\ea26"

.icon-hdd::before
    content: "\ea27"

.icon-head::before
    content: "\ea28"

.icon-in::before
    content: "\ea29"

.icon-intelligence::before
    content: "\ea2a"

.icon-link::before
    content: "\ea2b"

.icon-loading::before
    content: "\ea2c"

.icon-logo::before
    content: "\ea2d"

.icon-logout::before
    content: "\ea2e"

.icon-mastercard::before
    content: "\ea2f"

.icon-message::before
    content: "\ea30"

.icon-money::before
    content: "\ea31"

.icon-nav::before
    content: "\ea32"

.icon-no-access::before
    content: "\ea33"

.icon-openin::before
    content: "\ea34"

.icon-pin::before
    content: "\ea35"

.icon-planner::before
    content: "\ea36"

.icon-plus::before
    content: "\ea37"

.icon-report::before
    content: "\ea38"

.icon-road::before
    content: "\ea39"

.icon-ruppor::before
    content: "\ea3a"

.icon-schedule::before
    content: "\ea3b"

.icon-search::before
    content: "\ea3c"

.icon-sell::before
    content: "\ea3d"

.icon-service::before
    content: "\ea3e"

.icon-settings::before
    content: "\ea3f"

.icon-smile::before
    content: "\ea40"

.icon-speed::before
    content: "\ea41"

.icon-stock::before
    content: "\ea42"

.icon-stop::before
    content: "\ea43"

.icon-storage::before
    content: "\ea44"

.icon-timelaps::before
    content: "\ea45"

.icon-twousers::before
    content: "\ea46"

.icon-up::before
    content: "\ea47"

.icon-user::before
    content: "\ea48"

.icon-visa::before
    content: "\ea49"

.icon-word::before
    content: "\ea4a"

.icon-git::before
    content: "\ea50"

.icon-pencil2::before
    content: "\ea51"

.icon-question::before
    content: "\ea52"

.icon-star-circle::before
    content: "\ea53"

.icon-hashtag::before
    content: "\ea54"

.icon-loading-circle::before
    content: "\ea55"
