.ph
    width 100%
    opacity 0
    animation phShow 1.5s 1 forwards !important
    & &__btn
        fl(w)
        margin-left -10px
        margin-right -10px
        margin-top 15px
        margin-bottom -15px
        &_page
            margin-left -10px
            margin-right -10px
        span
            size 120px 42px
            max-width calc(50% - 20px)
            display block
            margin-left 10px
            margin-right 10px
            margin-bottom 15px
    & &__table
        border-radius 2px
        box-shadow var(--tc_ui_shadow)
        &-row
            padding-left 10px
            padding-right 10px
            display table
            width 100%
            border-bottom 1px solid
            box-shadow var(--tc_ui_shadow)
            background-color var(--tc_ui_bg)
            border-color var(--tc_border_light)
            &:first-child
                background-color var(--tc_ui_bg_darken)
                .ph__table-coll
                    padding 15.5px 17px
                @media maw[mlg]
                    display none
            &:last-child
                border-bottom 0
        &-coll
            padding 17px
            display table-cell
        &.items-1 // empty table
            .ph__table-row:first-child
                display block
                min-height 260px
                .ph__table-coll,
                .ph__table-coll span
                    display flex
                    width 100%
                    height 100%
                    
        span
            display block
            size 100% 20px 
            position relative
            overflow hidden
            background-color var(--tc_ui_bg_semi)
            {dt} &
                phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_l)
            {lt} &
                phAnimation(--tc_ui_bg_semi_l, --tc_ui_bg_semi_v)
            
    span
        display block
        size 100% 20px 
        position relative
        overflow hidden
        border-radius 2px
        opacity 0.7
        background-color var(--tc_ui_bg_semi)
        animation placeholderAnimation 30s infinite linear
        {dt} &
            phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_d)
        {lt} &
            phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_s)
    & &__pagination
        fl(w,sb,c)
        margin-bottom 10px
        &-arrow
            margin-left 10px
            margin-right 10px
            width 36px !important
            border-radius 50%
        &-left
            width 15%
            span
                height 12px
        &-right
            width 15%
            span
                height 12px
        &-center
            width 35%
            fl(,c)
            span
                height 36px
                width calc(100% - 100px)
    & &__nav
        li
            padding 20px 30px
            fl()
        &-icon
            size 20px
            margin-right 15px
            border-radius 50%
        &-text
            size calc(100% - 35px) 20px
        span
            background-color rgba(255,255,255,0.05)
            {dt} &
                background-image linear-gradient(to left, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.05) 100%)
            {lt} &
                background-image linear-gradient(to left, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.05) 100%)
            
    & &__mnav
        padding 17px
        display none
        justify-content space-between
        &-link
            size 30px
        &-title
            width calc(55% - 30px) !important
            margin-left auto
            margin-right auto
        span
            background-color rgba(255,255,255,0.05)
            {dt} &
                background-image linear-gradient(to left, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.05) 100%)
            {lt} &
                background-image linear-gradient(to left, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.05) 100%)
            
    & &__filter
        fl(,sb,c)
        &-left
            fl(w)
            span
                size 100px 20px
                margin-right 2px
                max-width calc(33.333% - 2px)
                margin-bottom 10px
        &-right
            fl(w,fe,c)
            span
                size 120px 15px
                margin-right 15px
                max-width calc(50% - 30px)
                margin-bottom 10px
                &:last-child
                    margin-right 0 
    & &__tablelist
        box-shadow var(--tc_ui_shadow)
        &-row
            padding-left 10px
            padding-right 10px
            display table
            width 100%
            border-bottom 1px solid
            box-shadow var(--tc_ui_shadow)
            background-color var(--tc_ui_bg)
            border-color var(--tc_border_light)
            &:last-child
                border-bottom 0
        &-coll
            padding 20px
            display table-cell
        span
            display block
            size 100% 20px 
            position relative
            overflow hidden
            background-color var(--tc_ui_bg_semi)
            {dt} &
                phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_l)
            {lt} &
                phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_s)
    & &__chartline, & &__chartdoughnut
        span
            width 100%
            overflow hidden
            min-height 260px
            display block  
            background-color var(--tc_ui_bg_semi)
            {dt} &
                phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_l)
            {lt} &
                phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_s)

    & &__list
        span
            width 100%
            overflow hidden
            min-height 210px
            display block  
            background-color var(--tc_ui_bg_semi)
            {dt} &
                phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_l)
            {lt} &
                phAnimation(--tc_ui_bg_semi, --tc_ui_bg_semi_s)
            
    &_dark
        span
            background-color var(--tc_ui_bg_darken)
            {dt} &
                phAnimation(--tc_ui_bg_darken, --tc_ui_bg_darken_d)
            {lt} &
                phAnimation(--tc_ui_bg_darken, --tc_ui_bg_darken_s)
    
    & &__tab-nav
        display: flex
        overflow: hidden
        height: 51px
        padding-top: 15px
        margin-left: -25px
        
        > span
            flex-basis: 120px
            margin-left: 25px

placeholder
    display block
    margin-bottom 30px
    opacity 0
    animation phShow 1.5s 1 forwards !important


@media maw[dsm]
    .ph
        & &__table
            &-coll
                padding-left 10px
                padding-right 10px
                &:nth-child(1n + 7)
                    display none !important

@media maw[tlg]
    .ph
        & &__nav
            display none !important
        & &__mnav
            display flex !important
            align-items center
        

@media maw[tmd]
    .ph
        & &__pagination
            justify-content center
            flex-wrap wrap
            &-center
                order 1
                width 100%
                fl(,c)
                margin-bottom 30px
                span
                    width 60% 
            &-left
                width 25%
                margin-left 5px
                margin-right 5px
                order 2
            &-right
                width 25%
                margin-left 5px
                margin-right 5px
                order 3

@media maw[tsm]
    .ph
        & &__filter
            display none

@media maw[mlg]
    .ph
        & &__table
            &-coll
                &:nth-child(1n + 4)
                    display none !important