$button-border-radius ?= 2px
$button-padding ?= 15px 30px
$button-width ?= 120px
$button-font-size ?= $small-font-size

.btn
    color: var(--btn-color)
    background: var(--btn-background)

    display inline-flex
    align-items center
    justify-content center

    border-radius $button-border-radius
    padding $button-padding
    min-width $button-width
    text-transform uppercase
    font-size $button-font-size
    line-height: 1.2
