// Animations
@keyframes placeholderAnimation
  0%
    background-position 0% 0%
  50%
    background-position 500% 0%
  100%
    background-position 0% 0%

@keyframes phShow
  from
    opacity 0
  to
    opacity 1