fb-input, fb-select, fb-textarea
    animation placeholderAnimation 30s infinite linear

form-builder
    opacity 0
    animation phShow 1.5s 1 forwards !important


fb-input, fb-select
    display inline-block
    width 100%
    height: 50px
    margin-bottom 10px
    border-radius 2px

fb-textarea
    height 92px
    margin-bottom 10px
    display block
    border-radius 2px

fb-checkbox
    size 22px
    margin-top 10px
    margin-bottom 10px
    display block
    position relative
    margin-right 190px
    border-radius 2px
    &:after
        size 170px 15px
        absolute left 35px top 50%
        margin-top -7px
        display block
        border-radius 2px
        content ''

{dt}
    fb-checkbox, fb-textarea, fb-input, fb-select
        opacity 0.7


fb-input, fb-select, fb-textarea, fb-checkbox, fb-checkbox:after
    background-color var(--tc_ui_bg_darken)
    {dt} &
        phAnimation(--tc_ui_bg_darken, --tc_ui_bg_stn)
    {lt} &
        phAnimation(--tc_ui_bg_darken, --tc_ui_bg_std)