framework_class_prefix = ''

responsive = true
wrapper = 1200px
wrap_padding = 15px
pathimg = "../img/"
fontfamily = 'Roboto', sans-serif

textarea_max-height = 300px


// Grid
grid_frames = (1 2 3 4 5 6 7 8 9 10) // Grid columns
grid_gap = 20 // Grid margin value in px (but wrote withot px)
grid_default_gap = true // Boolean (true/false)
grid_bpoint = {dxl: 1500, dlg: 1300, dmd: 1100, dsm: 1000, tlg: 900, tmd: 800, tsm: 700, mlg: 600, mmd: 500, msm: 400} // Breakpoints
grid_always_inverted = false // if true default grid will initially be based on min-width, if false max-width
grid_order = 10 // generate .order-* class for ordering cells, can use with responsive, like .order-5--dmd

// Margins
margin  = {'50': 50px, '30': 30px, '25': 25px, '20': 20px, '15': 15px, '10': 10px, '5': 5px, '0': 0}

//fonts
f_big = 24px
f_semi = 22px
f_middle = 18px
f_medium = 16px
f_normal = 15px 
f_small = 12px
f_smart = 10px
f_big_1000 = 20px 

// Colors Palette
cl_white = #fff
cl_asphalt = #999
cl_cloud = #e2e2e2
cl_evensnow = #fbfbfb
cl_cleanpike = #e4e4e5
cl_spacegrey = #f1f0f0
cl_darkday = #ececec
cl_insgrey = #cbcbcc
cl_lgr = #c4c4c4
cl_prjgrey = #e4e4e5
cl_emp = #bababa
cl_gain = #f8f8f8
cl_yellow = #ffd25e
cl_warn = #e9555b
cl_red = #cb4c4b
cl_pink = #f43e80
cl_salad = #9ed598
cl_grass = #7fc876  
cl_morning = #2883f0
cl_sky = #45a4dc
cl_skydark = #1d6ec5
cl_darkwater = #2388f5
cl_greyblue = #2d84ae
cl_violet = #393a6f
cl_skymid = #26459b
cl_darkdrean = #3f4bb5
cl_japanshine = #c5266a
cl_heartlife = #662cb7
cl_dream = #9a00b0
cl_black = #000
cl_prenight = #212121
cl_arcgrey = #252525
cl_twilight = #2a2a2a
cl_wall = #383838
cl_greyrc = #565656
cl_cage = #444
cl_rcred = #9b2918
cl_rdred = #c0341d
cl_rdwhite = #fbe5e1


// Theme Selector
dt = "html[data-dark='true']"
lt = "html:not([data-dark='true'])"
