@import "../_setting.styl"


:root

    // Wawe
    --tc_ui_wave alpha(cl_white, .7)
    --tc_ui_wave_dark alpha(darken(cl_white, 15%), .7)

    // Status
    --tc_status_error cl_warn
    --tc_status_warning cl_yellow
    --tc_status_success cl_grass
    --tc_status_inprogress cl_sky
    --tc_status_wait cl_asphalt

    --tc_font_family fontfamily
    --tc_border_radius 3px
    --tc_form_border_radius 3px


    &:not([data-dark="true"])

        // Цвета темы
        --tc_color_main cl_violet
        --tc_color_main_l lighten(cl_violet, 15%)
        --tc_colormain_text cl_white

        

        // Типография
        --tc_link cl_sky
        --tc_link_dark cl_skydark

        --tc_link_color_bg cl_violet
        --tc_link_color_text cl_white

        --tc_link_black cl_black
        --tc_link_black_active var(--tc_color_main)

        --tc_link_semi cl_asphalt
        --tc_link_semi_active cl_black

        --tc_text cl_black
        --tc_titles cl_black
        --tc_text_mark cl_pink
        --tc_invert cl_white
        --tc_text_caption cl_asphalt

        // Формы, кнопки, выпадающие списки, фильтры, пагинация ...
        --tc_border cl_cloud
        --tc_border_light cl_cleanpike
        --tc_border_dark cl_darkday
        --tc_border_semi lighten(cl_darkday, 50%)
        --tc_border_gain cl_gain
        --tc_border_ins cl_insgrey
        --tc_border_prj cl_prjgrey
        --tc_border_active cl_black
        --tc_border_night cl_asphalt

        --tc_ui_bg cl_white
        --tc_ui_bg_opaque rgba(cl_white, 0)
        --tc_ui_bg_d darken(cl_white, 5%)
        --tc_ui_bg_l cl_white
        --tc_ui_bg_semi cl_gain
        --tc_ui_bg_semi_d darken(cl_gain, 17%)
        --tc_ui_bg_semi_s darken(cl_gain, 10%)
        --tc_ui_bg_semi_l lighten(cl_gain, 10%)
        --tc_ui_bg_semi_v darken(cl_gain, 5%)
        --tc_ui_bg_darken cl_spacegrey
        --tc_ui_bg_darken_d darken(cl_spacegrey, 17%)
        --tc_ui_bg_darken_s darken(cl_spacegrey, 10%)
        --tc_ui_bg_stn darken(cl_spacegrey, 17%)
        --tc_ui_bg_std darken(cl_spacegrey, 10%)
        --tc_ui_empty cl_emp
        --tc_ui_darkbg cl_asphalt
        --tc_ui_darkbg_d darken(cl_asphalt, 50%)
        --tc_ui_darkbg_o alpha(cl_asphalt, 0.5)

        --tc_ui_focus cl_sky

        --tc_ui_hover var(--tc_color_main)
        --tc_ui_hover_text cl_white

        --tc_ui_btn_light cl_evensnow
        --tc_ui_btn_light_text cl_black

        --tc_ui_btn_smcolor cl_yellow
        --tc_ui_btn_smcolor_active darken(cl_yellow, 10%)
        --tc_ui_btn_smcolor_text cl_white

        --tc_ui_disabled cl_gain

        --tc_ui_tag var(--tc_link_dark)
        --tc_ui_tag_text cl_white

        --tc_btn_bg cl_grass
        --tc_btn_bg_active darken(cl_grass, 10%)
        --tc_btn_bg_shadow alpha(cl_grass, 0.5)
        --tc_btn_text cl_white

        --tc_btn_tr_bg cl_white
        --tc_btn_tr_bg_d darken(cl_white, 10%)
        --tc_btn_tr_text cl_asphalt

        --tc_ui_shadow 0 3px 5px rgba(0, 0, 0, 0.1)
        --tc_ui_shadow-overflow alpha(cl_black, 0.8)
        --tc_ui_shadow-scroll alpha(cl_black, 0.2)
        --tc_ui_shadow-middle alpha(cl_white, 0.9)

        --tc_html_tag cl_heartlife
        --tc_html_attr cl_dream
        --tc_html_str cl_warn

        // Контекстное меню
        --tc_ui_context_menu_shadow 0 0 30px rgba(0,0,0,.1)
        --tc_ui_context_menu_shadow_top 0 -5px 30px rgba(0,0,0,.1)
        --tc_ui_context_menu_bg cl_white
        --tc_ui_context_menu_border cl_darkday
        --tc_ui_context_menu_hover_bg cl_gain

        // Уведомления
        --tc_tooltip_bg rgba(0,0,0,0.9)
        --tc_tooltip_text cl_white


        // Фрейм, шапка, сайдбар
        --tc_aside_bg cl_violet
        --tc_aside_bg_spin spin(cl_violet, 25deg)
        --tc_aside_bg_dark rgba(0,0,0,0.3)
        --tc_aside_bg_nav rgba(0,0,0,0.15)
        --tc_aside_gradient linear-gradient(to top, var(--tc_aside_bg) 0%, var(--tc_aside_bg_spin)  100%)
        --tc_aside_gradient_header linear-gradient(to right, var(--tc_aside_bg) 0%, var(--tc_aside_bg_spin) 100%)
        --tc_aside_link cl_white
        --tc_aside_text cl_white

        --tc_page_bg cl_gain
        --tc_header_bg cl_white
        --tc_header_iconlink cl_pink
        --tc_header_iconlink_active cl_white

        --tc_header_link cl_emp
        --tc_header_link_active cl_black


        --tc_ui_bgopacity rgba(0,0,0,0.8)

        // Another Gradients
        --tc_gradient_1 linear-gradient(to right, #6ea5e8 0%, #7793e6 50%, #7d84e6 100%)
        --tc_gradient_2 linear-gradient(to right, #f69f8c 0%, #f07f76 50%, #eb6563 100%)


        // Shadows
        --tc_shadow_blue 5px 9px 20px alpha(cl_skymid, 0.3)
        --tc_shadow_red 5px 9px 20px alpha(cl_red, 0.3)
        --tc_shadow_gblue 5px 9px 20px alpha(cl_greyblue, 0.1)
        --tc_shadow_block 0 0 30px rgba(0, 0, 0, 0.1)
        --tc_shadow_blur 0 0 20px rgba(0, 42, 87, 0.2)
        --tc_shadow_smr 0 0 10px rgba(0,0,0,0.15)
        --tc_shadow_st alpha(cl_black, 0.25)

        --tc_theme_body cl_wall

        // Scroll
        --tc_scroll_thumb cl_lgr
        --tc_scroll_thumb_active cl_asphalt

        --tc_code_bg cl_rdwhite
        --tc_code_text cl_rdred

        --tc_aside_shadow 0 20px 30px rgba(0,0,0,0.1)



    &[data-dark="true"]
        // Цвета темы
        --tc_color_main cl_violet
        --tc_color_main_l lighten(cl_violet, 15%)
        --tc_colormain_text cl_white

        // Типография
        --tc_link cl_sky
        --tc_link_dark cl_skydark

        --tc_link_color_bg cl_violet
        --tc_link_color_text cl_white

        --tc_link_black cl_white
        --tc_link_black_active var(--tc_color_main)

        --tc_link_semi cl_asphalt
        --tc_link_semi_active cl_white

        --tc_text cl_white
        --tc_titles cl_white
        --tc_invert cl_black
        --tc_text_mark cl_pink
        --tc_text_caption cl_asphalt

        // Формы, кнопки, выпадающие списки, фильтры, пагинация ...
        --tc_border cl_greyrc
        --tc_border_light cl_greyrc
        --tc_border_dark cl_greyrc
        --tc_border_semi lighten(cl_greyrc, 50%)
        --tc_border_gain cl_gain
        --tc_border_ins cl_greyrc
        --tc_border_prj cl_prjgrey
        --tc_border_active cl_asphalt
        --tc_border_night cl_asphalt

        --tc_ui_bg cl_wall
        --tc_ui_bg_d darken(cl_wall, 5%)
        --tc_ui_bg_l lighten(cl_wall, 5%)
        --tc_ui_bg_semi cl_cage
        --tc_ui_bg_semi_d darken(cl_cage, 17%)
        --tc_ui_bg_semi_s darken(cl_cage, 10%)
        --tc_ui_bg_semi_l lighten(cl_cage, 10%)
        --tc_ui_bg_semi_v darken(cl_cage, 5%)
        --tc_ui_bg_darken cl_arcgrey
        --tc_ui_bg_darken_d darken(cl_arcgrey, 17%)
        --tc_ui_bg_darken_s darken(cl_arcgrey, 10%)
        --tc_ui_bg_stn darken(cl_arcgrey, 17%)
        --tc_ui_bg_std darken(cl_arcgrey, 10%)
        --tc_ui_empty cl_emp
        --tc_ui_darkbg cl_asphalt
        --tc_ui_darkbg_d darken(cl_asphalt, 50%)
        --tc_ui_darkbg_o alpha(cl_asphalt, 0.5)

        --tc_ui_focus cl_sky

        --tc_ui_hover var(--tc_color_main)
        --tc_ui_hover_text cl_white

        --tc_ui_btn_light cl_evensnow
        --tc_ui_btn_light_text cl_black

        --tc_ui_btn_smcolor cl_yellow
        --tc_ui_btn_smcolor_active darken(cl_yellow, 10%)
        --tc_ui_btn_smcolor_text cl_black

        --tc_ui_disabled cl_gain

        --tc_ui_tag var(--tc_link_dark)
        --tc_ui_tag_text cl_white

        --tc_btn_bg cl_grass
        --tc_btn_bg_active darken(cl_grass, 10%)
        --tc_btn_bg_shadow alpha(cl_grass, 0.5)
        --tc_btn_text cl_white

        --tc_btn_tr_bg cl_white
        --tc_btn_tr_bg_d darken(cl_white, 10%)
        --tc_btn_tr_text cl_asphalt

        --tc_ui_shadow 0 5px 7px rgba(0, 0, 0, .2)
        --tc_ui_shadow-overflow alpha(cl_black, 0.8)
        --tc_ui_shadow-scroll alpha(cl_black, 0.8)
        --tc_ui_shadow-middle alpha(cl_black, 0.9)

        --tc_html_tag lighten(cl_heartlife, 20%)
        --tc_html_attr lighten(cl_dream, 20%)
        --tc_html_str lighten(cl_warn, 20%)

        // Контекстное меню
        --tc_ui_context_menu_shadow 0 0 15px rgba(0,0,0,.2)
        --tc_ui_context_menu_shadow_top 0 -5px 15px rgba(0,0,0,.2)
        --tc_ui_context_menu_bg cl_wall
        --tc_ui_context_menu_border cl_greyrc
        --tc_ui_context_menu_hover_bg cl_cage

        // Уведомления
        --tc_tooltip_bg rgba(0,0,0,0.9)
        --tc_tooltip_text cl_white


        // Фрейм, шапка, сайдбар
        --tc_aside_bg cl_twilight
        --tc_aside_bg_spin spin(cl_twilight, 15deg)
        --tc_aside_bg_dark cl_prenight
        --tc_aside_bg_nav rgba(255,255,255,0.07)
        --tc_aside_gradient linear-gradient(to top, var(--tc_aside_bg) 0%, var(--tc_aside_bg_spin) 100%)
        --tc_aside_gradient_header linear-gradient(to right, var(--tc_aside_bg) 0%, var(--tc_aside_bg_spin) 100%)
        --tc_aside_link cl_white
        --tc_aside_text cl_white

        --tc_page_bg cl_twilight
        --tc_header_bg cl_prenight
        --tc_header_iconlink cl_pink
        --tc_header_iconlink_active cl_white

        --tc_header_link cl_emp
        --tc_header_link_active cl_white

        --tc_ui_bgopacity rgba(0,0,0,0.8)

        // Another Gradients
        --tc_gradient_1 linear-gradient(to right, #6ea5e8 0%, #7793e6 50%, #7d84e6 100%)
        --tc_gradient_2 linear-gradient(to right, #f69f8c 0%, #f07f76 50%, #eb6563 100%)


        // Shadows
        --tc_shadow_blue 5px 9px 20px alpha(cl_skymid, 0.3)
        --tc_shadow_red 5px 9px 20px alpha(cl_red, 0.3)
        --tc_shadow_gblue 5px 9px 20px alpha(cl_greyblue, 0.1)
        --tc_shadow_block 0 0 30px rgba(0, 0, 0, 0.15)
        --tc_shadow_blur 0 0 20px rgba(0, 42, 87, 0.2)
        --tc_shadow_smr 0 0 10px rgba(0,0,0,0.15)
        --tc_shadow_st alpha(cl_black, 0.25)

        --tc_theme_body cl_black

        // Scroll
        --tc_scroll_thumb darken(cl_asphalt, 15%)
        --tc_scroll_thumb_active cl_asphalt

        --tc_code_bg alpha(cl_rdred, 0.1)
        --tc_code_text lighten(cl_rdred, 50%)

        --tc_aside_shadow 0 20px 30px rgba(0,0,0,0.25)
