responsive = true
wrapper = 1200px
wrap_padding = 15px
pathimg = "../img/"
fontfamily = Lato, sans-serif

textarea_max-height = 300px

//breakpoints
res_desktop--lg = '(max-width 1300px)'
res_desktop--md = '(max-width 1100px)'
res_desktop--sm = '(max-width 1000px)'
res_tablet--lg = '(max-width 900px)'
res_tablet--md = '(max-width 800px)'
res_tablet--sm = '(max-width 700px)'
res_mobile--lg = '(max-width 600px)'
res_mobile--md = '(max-width 500px)'
res_mobile--sm = '(max-width 400px)'

res_desktop--lg-i = '(min-width 1301px)'
res_desktop--md-i = '(min-width 1101px)'
res_desktop--sm-i = '(min-width 1001px)'
res_tablet--lg-i = '(min-width 901px)'
res_tablet--md-i = '(min-width 801px)'
res_tablet--sm-i = '(min-width 701px)'
res_mobile--lg-i = '(min-width 601px)'
res_mobile--md-i = '(min-width 501px)'
res_mobile--sm-i = '(min-width 401px)'


//fonts
f_big = 24px
f_semi = 22px
f_middle = 18px
f_medium = 16px
f_normal = 14px 
f_small = 12px
f_smart = 10px
f_big_1000 = 20px 


// Colors Palette
cl_white = #fff
cl_asphalt = #999
cl_cloud = #e2e2e2
cl_evensnow = #fbfbfb
cl_cleanpike = #e4e4e5
cl_spacegrey = #f1f0f0
cl_darkday = #ececec
cl_insgrey = #cbcbcc
cl_lgr = #c4c4c4
cl_prjgrey = #e4e4e5
cl_emp = #bababa
cl_gain = #f8f8f8
cl_yellow = #ffd25e
cl_warn = #e9555b
cl_red = #cb4c4b
cl_pink = #f43e80
cl_salad = #9ed598
cl_grass = #7fc876 
cl_morning = #2883f0
cl_sky = #45a4dc
cl_skydark = #1d6ec5
cl_darkwater = #2388f5
cl_greyblue = #2d84ae
cl_violet = #393a6f
cl_skymid = #26459b
cl_darkdrean = #3f4bb5
cl_japanshine = #c5266a
cl_heartlife = #662cb7
cl_dream = #9a00b0
cl_black = #000
cl_prenight = #212121
cl_arcgrey = #252525
cl_twilight = #2a2a2a
cl_wall = #383838
cl_greyrc = #565656
cl_cage = #444
cl_rcred = #9b2918



// Theme Selector
dt = "html[data-dark='true']"
lt = "html:not([data-dark='true'])"