extends includes/layout.pug

block pageVariables
    - var pageTitle = "403"

block pageHead
    // there is can be head meta or sctipts


block pageContent
    .tf-centerblock
        .tf-infoblock.tf-infoblock_center
            .infbl
                i.icon.icon-road.infbl_icon
                span.infbl__caption Access is denied
                h1.infbl__title 403
                h4.infbl__type error
