extends includes/external.pug

block pageVariables
    - var pageTitle = "404 External"

block pageHead
    // there is can be head meta or sctipts


block pageContent
    .infbl
        i.icon.icon-stop.infbl_icon
        span.infbl__caption No such page
        h1.infbl__title 404
        h4.infbl__type error
