extends includes/layout.pug

block pageVariables
    - var pageTitle = "Content wrapper"

block pageHead
    // there is can be head meta or sctipts


block pageContent

    content-wrapper(:data='{"email":"soberbrunner@example.org"}' store-data="content")
        template(slot-scope="props")
            ul.flex-list
                li
                    span.flex-list__caption First Name
                    b.flex-list__title {{ $get(props, 'data.email') }}
