doctype html
<html lang="ru">
  head
    meta(charset="utf-8")
    title AwesCode CRM
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet")
    link(rel='stylesheet', href='css/main.css')
    script.
        AWES_CONFIG = {key: 123, modules: ['./js/main.js']}
    script(src="test-core/main.js")
  <body>
    <div class="mainwrapper" id="awes-app">
      <div class="frame">
        include includes/frame-aside

        <div class="frame__right">
          include includes/frame-header
          <div class="frame__content">
            