extends includes/layout_minimal.pug

block pageVariables
    - var pageTitle = "Content wrapper"

block pageHead
    // there is can be head meta or sctipts


block pageContent
    div(style="padding: 30px")
        p There is only this string