extends includes/layout.pug

block pageVariables
    - var pageTitle = "Placeholder Test"
    - var pageModules = "'./js/main.js'"

block pageHead
    // there is can be head meta or sctipts


block pageContent
    p Для того, чтобы проверить плейсхолдеры, отключите js в браузере.

    h2 Forms
    .grid.grid_forms
        .grid__cell.grid__cell_2
            fb-input
        .grid__cell.grid__cell_2
            fb-input
        .grid__cell.grid__cell_2
            fb-select
        .grid__cell.grid__cell_2
            fb-select
        .grid__cell
            fb-textarea
        .grid__cell
            fb-checkbox
        placeholder
            .ph.ph_dark
                |  ph btn_btn has mod ph__btn_page for page without grid cell
                .ph__btn
                    span
                    span
    h2 Filters
    placeholder
        .ph.ph_dark
            .ph__filter
                .ph__filter-left
                    span
                    span
                    span
                .ph__filter-right
                    span
                    span
    h2 Pagination
    placeholder
        .ph.ph_dark
            .ph__pagination
                .ph__pagination-left
                    span
                .ph__pagination-center
                    span.ph__pagination-arrow
                    span
                    span.ph__pagination-arrow
                .ph__pagination-right
                    span
    h2 Table
    placeholder
        .ph
            .ph__table
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                i.ph__table-row
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
                    b.ph__table-coll
                        span
    h2 List
    placeholder
        .ph
            .ph__list
                i.ph__list-row
                    b.ph__list-coll
                        span
                i.ph__list-row
                    b.ph__list-coll
                        span
                i.ph__list-row
                    b.ph__list-coll
                        span
                i.ph__list-row
                    b.ph__list-coll
                        span
