.awes-chat
    fl()
    & &__threads
        width 33%
        &-footer
            padding 30px
            text-align center
    & &__defchat
        width 67%
    & &__current-thread
        display none
    & &__thread
        padding 20px 20px 20px 40px
        text-align left
        width 100%
        border-bottom 1px solid
        .awes-status
            absolute left -20px top 4px
        &-title
            display block
            position relative
            margin-bottom 10px
        &-footer
            fl(,sb,c)
            .icn-dot
                position static
                left auto
                top auto
                right auto
        &-time
            font-size f_smart
    & &__message
        margin-bottom 20px
        &-head
            fl(w,sb,c)
            padding-left 50px
            position relative
            min-height 36px
            margin-bottom 5px
        &-ava
            absolute left 0 top 0
            size 36px
            border-radius 50%
            img
                display block
                size 36px
                border-radius 50%
        &-name
            font-weight 700
            padding-right 10px
        &-time
            font-size f_smart
            padding-top 3px
        &-block
            padding-left 50px
    & &__actions
        padding 30px
        absolute right 0 bottom 0
        width calc(650px - 33%)
    & &__window
        // max-height 100vh
        // overflow auto
        padding 30px 30px 200px 30px
    & &__smiles
        absolute left 0 top 0
        size 100%
        z-index 2
        padding 20px
        overflow auto
        &-close
            absolute right 10px top 7px
            line-height 1
            font-size 15px
    & &__form
        border 1px solid 
        border-radius 2px
        position relative
        &-textarea
            border 0
            background-color transparent
            padding 10px
            size 100% 90px
        &-line
            padding 10px
            fl(w,sb,c)
        &-link
            font-size 14px
        &-buttons
            fl(w)
            & ^[0]__form-btn
                margin-right 10px
        &-btn
            border-radius 5px
            padding 5px
            line-height 1
            display inline-block

@media maw[mlg]
    .awes-chat
        flex-wrap wrap
        & &__threads
            width 100%
            display none
            &.active
                display block
        & &__defchat
            width 100%
        & &__current-thread
            display block
        & &__actions
            width auto !important
            left 0
            margin auto


@media (max-height: 400px)
    .awes-chat
        & &__form
            &-textarea
                height 50px

@media maw[mmd]
    .awes-chat
        & &__form
            &-textarea
                height 50px
        & &__thread
            padding-left 50px
            padding-right 30px