.badge
    background-color var(--tc_color_main)
    color var(--tc_colormain_text)
    padding 5px 10px
    display inline-block
    font-size 10px
    text-transform uppercase
    border-radius var(--tc_border_radius)
    a&, button&
        &:hover
            background-color var(--tc_color_main_l)
            text-decoration none
            color var(--tc_colormain_text)
    &_intext
        display inline
        margin-left 5px
        margin-right 5px
    &_inline
        margin-right 10px
        margin-bottom 10px
