.box-post
    & &__title
        margin-bottom 20px
        display inline-block
    & &__star
        display inline-block
        color var(--tc_ui_btn_smcolor)
        font-size 30px
        line-height 1
        margin-top -3px
        &:hover
            color var(--tc_ui_btn_smcolor_active) 