.card
    background-color var(--tc_ui_bg)
    padding 30px
    box-shadow var(--tc_ui_shadow)
    overflow hidden
    position relative
    border-radius var(--tc_border_radius)
    width 100%
    &.loading-block
        &:after
            top 50% !important
            margin-top -15px

    // Styles for line chart
    &_default
        min-height 480px
        padding 0
        width 100%
        fl(,sb)
        .chart
            width 100%
            min-height 480px
            z-index: 2;
    &__colored-box
        width 100%
        height 65px
        background var(--tc_ui_bg_darken)
        box-shadow inset 0 15px 5px -15px rgba(0,0,0,.1)
        absolute right 0 bottom 0
        z-index 1

    // Styles for table
    &_table
        width 100%
        min-height 260px
        fl(,sb)
    &_smart
        padding 20px
    &_noborder
        padding 0
    &_post
        min-height 210px
    & &__title
        display block
        margin-bottom 0
        & + ^[0]__text
            margin-top 20px
    & &__text
        margin-bottom 0
    & &__star
        display inline-block
        color var(--tc_ui_btn_smcolor)
        font-size 30px
        line-height 1
        margin-top -3px
        &:hover
            color var(--tc_ui_btn_smcolor_active) 
    & &__wrap
        position relative
        z-index 2
        margin auto
        width 100%
        &_bottom
            margin-bottom 0
    & &__middle-cell
        margin auto
        text-align center
    & &__icon
        font-size 50px
        margin-bottom 17px
    & &__caption
        max-width 220px
        display block
        margin-left auto
        margin-right auto
        line-height 1.5
        font-size 14px
    // Styles for dashboard chart
    &_chartdoughnut
        min-height 260px
        size 100%
        fl(,sb)
        flex-direction column
        color #fff
        padding 10px 20px
        canvas
            width 100% !important
            height 220px !important

    &_chartline
        min-height 260px
        size 100%
        fl(,sb)
        flex-direction column
        color #fff
        & ^[0]__chart
            absolute left 0 bottom 0
            width 100%
            display block 
            z-index 1
            padding-bottom 150px
            max-height 100%
        .tf-hyplink
            color #fff
            &:hover
                color #fff
        .btn-group
            border 0
            position relative
            z-index 2
            margin-left -10px
            margin-right -10px
            text-align center
            justify-content center
            flex-wrap wrap
            .btn
                font-size 14px
                text-transform none
                padding 0 0 5px 0
                font-weight 500
                border-radius 0
                margin-left 10px
                margin-right 10px
                border 0
                background-color transparent
                color var(--tc_link_semi)
                border-bottom 2px solid transparent
                &:hover, &:focus, &:active
                    background-color transparent !important
                    color var(--tc_link_semi_active)
                .wave
                    display none !important
                &.active
                    border-bottom 2px solid var(--tc_link_semi_active)
                    color var(--tc_link_semi_active)
                    background-color transparent !important
                &:first-child, &:last-child
                    border-radius 0
    &_ava
        position relative
        min-height 250px
        width 100%
        display flex
        padding 0
        img
            width 100%
    & &__ava
        &-img
            width 100%
        &-del
            absolute right 15px top 15px
            z-index 3
            font-size 12px
            cursor pointer
            size 30px
            border-radius 50%
            fl(,c,c)
            background-color var(--tc_ui_bg)
            color var(--tc_text)
            tr .25
            &:hover
                background-color cl_warn
                color #fff
    & &__hover
        absolute left 0 top 0
        size 100%
        z-index 2
        fl()
        background-color var(--tc_ui_bgopacity)
        tr .25
        opacity 0
        &-cell
            margin auto
        &:hover
            opacity 1
    & &__wraph
        margin auto
        width 100%


@media maw['dmd']
    .card
        padding 20px
        &_default
            min-height 340px
            padding 0
            .chart
                min-height 340px
        &_ava
            padding 0

@media (pointer coarse)
    .card
        &_ava
            background-color transparent
            box-shadow none
            display block
            & ^[0]__wrap
                background-color var(--tc_ui_bg)
                box-shadow var(--tc_ui_shadow)
                margin 0
                min-height 200px
                display flex
            & ^[0]__hover
                position static
                opacity 1
                width 100%
                display block
                margin-top 15px
                background none
                .btn
                    background none
                    text-transform uppercase
                    color var(--tc_link_semi)
                    padding 0
                    font-size 12px
                    font-weight 500
                    cursor pointer
                    min-width 1px
                    &:hover, &:focus, &:active
                        color var(--tc_link_semi_active)
                        background none
