.card
    background-color var(--tc_ui_bg)
    padding 30px
    box-shadow var(--tc_ui_shadow)
    &_smart
        padding 20px
    &_noborder
        padding 0


@media maw['dmd']
    .card
        padding 20px


