.card
    background-color var(--tc_ui_bg)
    padding 30px
    box-shadow var(--tc_ui_shadow)
    &_smart
        padding 20px
    &_noborder
        padding 0
    &_chart
        min-height 260px
        size 100%
        fl(,sb)
        overflow hidden
        position relative
        flex-direction column
        color #fff
        & ^[0]__caption
            max-width 220px
            display block
            margin-left auto
            margin-right auto
            line-height 1.5
            font-size 12px
        & ^[0]__icon
            font-size 50px
            margin-bottom 17px
        & ^[0]__chart
            absolute left 0 bottom 0
            width 100%
            display block 
            z-index 1
            padding-bottom 150px
            max-height 100%
        .tf-hyplink
            color #fff
            &:hover
                color #fff
        & ^[0]__wrap
            position relative
            z-index 2
        & ^[0]_error
            color cl_warn
        & ^[0]_nodata
            color var(--tc_text_caption)
        & ^[0]_nodata, & ^[0]_error
            fl(w,c,c)
            size 100%
        & ^[0]__middle-cell
            margin auto
            text-align center
        &.loading-block
            &:after
                top 50% !important
                margin-top -15px
        .btn-group
            border 0
            position relative
            z-index 2
            margin-left -10px
            margin-right -10px
            text-align center
            justify-content center
            flex-wrap wrap
            .btn
                font-size 14px
                text-transform none
                padding 0 0 5px 0
                font-weight 500
                border-radius 0
                margin-left 10px
                margin-right 10px
                border 0
                background-color transparent
                color var(--tc_link_semi)
                border-bottom 2px solid transparent
                &:hover, &:focus, &:active
                    background-color transparent !important
                    color var(--tc_link_semi_active)
                .wave
                    display none !important
                &.active
                    border-bottom 2px solid var(--tc_link_semi_active)
                    color var(--tc_link_semi_active)
                    background-color transparent !important
                &:first-child, &:last-child
                    border-radius 0


@media maw['dmd']
    .card
        padding 20px


