.chart-box
    padding 30px
    min-height 260px
    size 100%
    fl(,sb)
    position relative
    flex-direction: column
    & &__icon
        font-size 50px
        margin-bottom 17px
    & &__chart
        absolute left 0 bottom 0
        width 100%
        display block 
        z-index 1
        padding-bottom 150px
        max-height 100%
    .tf-hyplink
        color #fff
        &:hover
            color #fff
    & &__wrap, & &__footer-wrap
        width 100%
        position relative
        z-index 2
    & &__mrlink
        margin-top 19px
        display inline-block
        text-transform uppercase
        font-weight: 700
        font-size f_smart
    & &__list
        fl(w,c)
        margin-left -10px
        margin-right -10px
        width calc(100% + 20px)
        position relative
        z-index 2
        li
            margin-left 10px
            margin-right 10px
            margin-bottom 20px
            a
                border-bottom 2px solid transparent
                padding-bottom 7px
                &.active
                    pointer-events: none
                    border-bottom 2px solid
                &:hover
                    text-decoration none
    & &__info
        display block
        color #fff
        &-sm
            display block
            margin-bottom 15px
            text-transform uppercase
            font-size 12px
            line-height 1
        &-chartlist
            max-width 350px
            margin-bottom -10px
            li
                display inline-block
                font-size f_normal
                margin-right 17px
                margin-bottom 10px
                position relative
                padding-left 25px
        &-greycapt, &-redcapt
            font-size f_small
            display block
            margin-bottom 15px
    & &__linewrap
        fl(,,c)

    &_bar
        & ^[0]__list
            justify-content flex-start
            position relative
            z-index 3
        & ^[0]__chart
            position static
            top auto
            bottom auto
            right auto
            width 50%
            order 2
            margin-top -40px
            margin-bottom 0
        & ^[0]__wrap
            width 50%
            margin-left 0
            margin-right 0
            z-index 1
            max-width 100%
            order 1
            flex-shrink 0
    &_noe
        & ^[0]__wrap
            margin auto
            padding-top 10px
            text-align center
    &_nodata
        & ^[0]__wrap
            margin auto
            padding-top 10px
            text-align center
    &_error
        & ^[0]__wrap
            margin auto
            padding-top 15px
            text-align center
    &.loading-block
        &:after
            top 50% !important
            margin-top -15px
    .btn-group
        border 0
        position relative
        z-index 2
        margin-left -10px
        margin-right -10px
        text-align center
        justify-content center
        .btn
            font-size 14px
            text-transform none
            padding 0 0 5px 0
            font-weight 500
            border-radius 0
            margin-left 10px
            margin-right 10px
            border 0
            background-color transparent
            color var(--tc_link_semi)
            border-bottom 2px solid transparent
            &:hover, &:focus, &:active
                background-color transparent !important
                color var(--tc_link_semi_active)
            .wave
                display none !important
            &.active
                border-bottom 2px solid var(--tc_link_semi_active)
                color var(--tc_link_semi_active)
                background-color transparent !important
            &:first-child, &:last-child
                border-radius 0

.chart-wrap
    size 100%
    fl()

@media maw[mlg]
    .chart-box
        &_bar
            flex-wrap wrap
            & ^[0]__list
                justify-content center
            & ^[0]__chart
                position static
                left auto
                top auto
                width 100%
                height auto
                margin-bottom 10px
                margin-top 15px
                order 1
                max-width 100%
            & ^[0]__wrap
                order 2
                max-width 100%
                width 100%
        & &__linewrap
            flex-wrap wrap
        & &__info
            &-chartlist
                max-width 100%
                width 100%

