.form
    &--select
        margin-bottom 10px
    &--navmenu
        margin-bottom 10px


.fb
    &_content
        &-mt
            margin-top 35px
        &-mb
            margin-bottom 35px
    &__input
        &-wrap
            fl()
        &-inner
            flex-grow 1
            display block
            position relative
        &-domain
            align-items center
            padding 12px 0 0 5px
            display inline-flex
            width auto


.number-field
    size 54px 36px
    position relative
    & &__field
        size 54px 36px
        border-radius 2px
        padding-right 17px
        padding-left 3px
        font-size f_nomral
        text-align center
    & &__plus
        fl(,c,c)
        absolute top 3px right 3px
        border-radius 2px
        size 14px
        text-align center
        line-height 1
    & &__minus
        fl(,c,c)
        absolute bottom 3px right 3px
        border-radius 2px
        size 14px
        text-align center
        line-height 1

.modal-form
    & &__wrap
        padding 40px
    & &__title
        text-align center
        font-size f_big
        font-weight 400
        margin-bottom 35px
    & &__buttons
        fl()
        .btn
            width 50%
            padding-top 22px
            padding-bottom 22px
            border-radius 0
            font-size f_medium
            text-transform none

.btn
    fl(,c,c)
    transition background-color 0.3s ease, color 0.3s ease
    border-radius 2px
    text-align center
    padding 15px 30px
    min-width 120px
    text-transform uppercase
    font-size f_smart
    .icon
        margin-right 7px
    &_ib
        display inline-block
    &_greylink
        padding 0
        min-width 1px
    &_loading
        pointer-events: none
        .icon
            animation rotate 1s infinite linear
    &:hover
        text-decoration none





.form-smlink
    font-size f_small
    display inline-block
    margin-left 15px
    &:hover
        text-decoration underline




.radiobox
    position relative
    cursor pointer
    margin-bottom 10px
    display block
    & &__field
        absolute left 0 top 0
        size 0px
        opacity 0
    & &__content
        display block
        position relative
        padding-left 28px
    & &__icon
        size 18px
        border-style 50%
        fl(,c,c)
        border-radius 50%
        absolute left 0 top 1px
        &:before
            size 4px
            border-radius 50%
            display block
            absolute left 50% top 50%
            margin-top -2px
            margin-left -2px
            content ''





.box-checker
    // fl()
    // width 100%
    // margin-bottom 20px
    .fc-radio__box
        position relative
        padding 20px 5px
    // & &__content
    //
    // & &__field
    //     absolute left 0 top 0
    //     opacity 0
    //     size 0px
    & &__title
        text-transform uppercase
        font-size f_small
        display block
        margin-bottom 2px
    & &__price
        font-size f_small
        display inline-block
        font-size 30px
        font-weight 300
        position relative
        small
            absolute right -15px top 3px
            font-size 17px
            font-weight 400
    & &__caption
        font-size f_small
        display block


.progress
    display: block
    text-align: center
    font-size: .6rem

    progress
        display: block
        margin-top: .5rem
        appearance: none
        border: none
        font-size: 0
        width: 100%
        height: 1px
        background: transparent

    &::-webkit-progress-bar
        background: transparent


// animation hack autofill detection
@keyframes autoFillStart
    from
        opacity: 1
    to
        opacity: 1
@keyframes autoFillEnd
    from
        opacity: 1
    to
        opacity: 1

.form-spoiler
    display block
    padding-left 44px
    position relative
    & &__title
        font-size f_middle
        color #000000
        padding-bottom 30px
        display block
        position relative
        &:before
            size 0px
            border 3px solid transparent
            border-top 4px solid #000
            display block
            absolute left -20px top 10px
            content ''
        &:hover
            text-decoration none
    & &__hidden
        padding-bottom 30px
        display none
        &.v-collapse-content-end
            display: block
    &:before
        absolute left 0 top 25px
        width 1px
        height calc(100% - 30px)
        display block
        content ''
    &:after
        size 7px
        border 2px solid
        display block
        border-radius 50%
        absolute left -4px top 5px
        content ''
    &:last-child
        &:before
            display none
    &.active
        & ^[0]__title
            &:before
                transform rotate(-90deg)
                top: 8px
                margin-left 2px


.figure-loader
    padding-left 25px
    & &__img
        size 100% 130px
        max-width 200px
        fl(w,c,c)
        box-shadow 0 0 5px rgba(0, 0, 0, 0.1)
        border-radius 2px
        position relative
        margin-bottom 20px
        img
            max-width 100%
            max-height 100%
    & &__remove
        font-size 14px
        absolute right 10px top 10px

    & &__buttons
        .btn
            display inline-block


.form-title
    font-size f_normal
    display block
    margin-bottom 10px
    margin-top 10px
    span
        margin-right 20px
    .icon
        vertical-align middle

.line-btns
    .btn
        display inline-block
        margin-right 10px
        margin-bottom 10px


@keyframes rotate
    from
        transform rotate(0deg)
    to
        transform: rotate(360deg)


@media res_tablet--lg
    .form-spoiler
        padding-left 30px
        & &__title
            &:before
                left -14px


    .figure-loader
        padding-left 0




@media res_mobile--md
    .modal-form
        & &__wrap
            padding 25px 30px
        & &__title
            text-align left
            margin-bottom 25px
            padding-right 30px


@media res_mobile--sm
    .box-checker
        & &__title
            font-size 10px
        & &__price
            font-size 25px
        & &__caption
            font-size 11px
    .btn
        padding-left 25px
        padding-right 25px
