html.ie
    body
        .frame
            &__aside-title
                display table
                width 100%
                span
                    display table-cell
                    vertical-align middle

        .tf
            &-centerblock
                height calc(100vh - 250px)
                display table
                width 100%
                &__cell
                    display table-cell
                    vertical-align middle
        .tooltip 
            object
                opacity 0

        .dashboard 
            &__tabs 
                .tabs-component-tab a
                    padding-top 22px
                    padding-bottom 22px

        .justify-list
            &_oneline
                li
                    span
                        padding-top 10px
                        padding-bottom 10px
        .j-table
            &_nd
                display table
                width 100%
            &__nd
                display table-cell
                vertical-align middle
        .loading-inline 
            min-width 120px
        .btn
            min-width 130px
        .login-page
            display table
            width 100%
            &__left
                display table-cell
                vertical-align middle
                &-wrap
                    display block
                    float right
            &__bg
                display table-cell
                vertical-align middle
                


@media maw[tlg]
    html.ie
        body
            .frame
                &__aside-title
                    display flex !important
                    width: calc(100% - 128px)


