
.int-table
    width 100%
    font-size f_normal
    & &__fcaption
        color var(--tc_text)
    & &__footer
        fl(w,sb,c)
        background-color var(--tc_ui_bg_darken)
        width 100%
        padding 10px 20px
        &-left
            padding 10px
        &-right
            padding 10px
    & &__flink
        font-size f_normal
        color var(--tc_link_semi)
        &:hover
            color var(--tc_link_semi_active)
    & &__header
        fl(w,sa,c)
        min-height 80px
        padding 15px 0
        border 1px solid var(--tc_border)
    & &__clist
        display block
        list-style none
        margin 0px
        li
            margin-bottom 5px
    & &__count
        font-size f_middle
        padding 0 15px
        span
            color var(--tc_text_caption)
    & &__nowrap
        white-space nowrap
    & &__link, a
        display inline-block
        margin-bottom 3px
        &:hover
            text-decoration underline
    & a.int-table__show:hover
        text-decoration none !important
    & &__caption
        display block
        margin-bottom 3px
        color var(--tc_text_caption)
    & &__show
        display none
        font-size 16px
        color var(--tc_text_caption)
        size 60px
        margin-bottom 0
        &:hover
            text-decoration none !important
    & &__right
        text-align right
    & &__overflow
        box-shadow var(--tc_ui_shadow)
        overflow-x auto
        max-width 100%
        background:
            linear-gradient(90deg, var(--tc_ui_bg) 16px, var(--tc_ui_bg_opaque, rgba(255,255,255,0))),
            linear-gradient(90deg, var(--tc_ui_bg_opaque, rgba(255,255,255,0)), var(--tc_ui_bg) 16px) 100% 0,
            radial-gradient(farthest-side at 0 50%, var(--tc_ui_shadow-scroll, rgba(100,110,100,0.5)), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 100% 50%, var(--tc_ui_shadow-scroll, rgba(100,110,100,0.5)), rgba(0,0,0,0)) 100% 0;
        background-repeat no-repeat
        background-color var(--tc_ui_bg)
        background-size 48px 100%, 48px 100%, 16px 100%, 16px 100%
        background-attachment local, local, scroll, scroll
    & &__table
        width 100%
        font-size f_normal
        // background-color var(--tc_ui_bg)
        tbody
            position relative
            // box-shadow var(--tc_ui_shadow)
        th
            font-weight 400
            text-align left
            background-color var(--tc_ui_bg_darken)
            color var(--tc_text_caption)
            font-size f_normal
            padding 17px 15px
            white-space nowrap
            
            .tb-sort-button
                padding 17px 15px
                width calc(100% + 30px)
                margin -17px -15px
            
            &^[0]__right
                text-align right
            &:first-child
                padding-left 30px
                
                .tb-sort-button
                    padding-left 30px
                    width calc(100% + 45px)
                    margin-left -30px
        td
            padding 12px 15px
            border-bottom 1px solid var(--tc_border_dark)
            // word-break break-word
            &:first-child
                padding-left 30px
        tr
            &:hover
                background-color var(--tc_ui_bg_semi)
                & ^[0]__control
                    opacity 1
                    pointer-events auto
            &:last-child
                td
                    border-bottom 0
            &.active
                &:hover
                    background-color transparent
    & &__ava
        size 36px
        border-radius 50%
        overflow hidden
        display block
        &:hover
            opacity 0.5
    & &__hidden
        display none
        cursor default
        &:hover
            background-color transparent !important
    & &__inline-rtd
        position relative
        width 100%
        padding-right 50px
        min-height 30px
        padding-top 15px
        fl(w,,c)
    & &__inr-cell
        display block
        margin-right 30px
        margin-bottom 15px
        &_full
            width 100%
            margin-right 0
        &:last-child
            margin-right 0
    & &__control
        size 30px
        fl(,c,c)
        position relative
        cursor pointer
        opacity 0
        tr(0.3)
        pointer-events none
        color var(--tc_link_semi)
        &_sr
            opacity 1 !important
            absolute right 0 top 50%
            margin-top -15px
        .icon-dots
            font-size 3px
        &.active
            opacity 1
            pointer-events auto
        &:hover, &.active
            color var(--tc_link_semi_active)
        &-tab
            text-align center
            width 70px
            padding 0 
            &.active
                .icon
                    transform scaleY(-1)
                    margin-top -4px
            &_big
                width 60px
                & ^[0]__show
                    width 60px
    & &__stab
        fl()
        padding-right 60px
        position relative
        padding-top 10px
        padding-bottom 5px
        &-left
            width 65%
            fl(w)
        &-right
            width 35%
            display none
        &-text
            display block
            font-size f_normal
            margin-bottom 10px
            text-align right
            margin-right 15px
        & ^[0]__ava
            margin-bottom 10px
        & ^[0]__control
            absolute right 2px top 50%
            margin-top -15px
            opacity 1 !important
            pointer-events auto !important
        &-bl
            margin-bottom 10px
            margin-right 30px
            &:last-child
                margin-bottom 0
                margin-right 0
        &-inline
            display inline-block
            margin-right 20px
            margin-bottom 10px
            &:last-child
                margin-right 0
    & &__center
        text-align center !important
    & &__drag-icon
        text-align center
        .icon
            display none
            text-align center
            font-size f_normal
            color var(--tc_text_caption)
            cursor pointer
        &.is-link
            cursor: pointer
        &:hover
            & ^[0]__drag-icon
                .icon
                    display block
                span
                    display none
        &.active
            & ^[0]__show
                .icon
                    transform scaleY(-1)
    .context-menu
        z-index 2
        &__toggler
            opacity: 0
        &.is-opened
            z-index 3
            .context-menu__toggler
                opacity: 1

    & &__block
        &.active
            .int-table__show
                .icon-box-down
                    transform scaleY(-1)
        &:hover
            .context-menu__toggler
                opacity: 1
    & &__openin
        width 75px

.tb-sort-button
    text-align: left;
    
    &:hover,
    &:focus
        background-color var(--tc_ui_bg_semi_v)
        
    &.is-active
        background-color var(--tc_ui_bg_semi_s)

    svg
        margin-left .1em
        size 14px
        vertical-align middle
        
        path
            fill currentColor

@media (pointer: coarse)
    .int-table
        & &__table tr:hover
            background none
            
@media maw[dlg]
    .int-table

        & &__footer
            padding-left 0
            padding-right 0
        & &__table
            th
                padding 15px 10px
                
                .tb-sort-button
                    padding 15px 10px
                    width calc(100% + 20px)
                    margin -15px -10px
                
                &:first-child
                    padding-left 15px
                    
                    .tb-sort-button
                        padding-left 15px
                        margin-left -15px
                        width calc(100% + 25px)
            td
                padding 12px 10px
                &:first-child
                    padding-left 15px
        & &__control
            &-tab
                width 40px
                padding 0

@media maw[dmd]
    .int-table
        & &__show
            fl(,c,c)
        & .active + &__hidden
            display table-row
        & &__control
            &-tab
                width 50px
                flex-shrink 0
                text-align center
                padding 0 !important
                & ^[0]__control
                    display none
                &_big
                    width 60px
                border-left 1px solid var(--tc_border)
                &.active
                    background-color var(--tc_border_semi)
        & &__block
            &.active
                td
                    border-bottom 0
                &.active
                    & ^[0]__control-tab
                        background-color var(--tc_ui_bg_semi)
                        border-bottom 1px solid var(--tc_border)

@media maw[tsm]
    .int-table
        & &__table
            th
                font-size f_small
            
            tr:hover
                background none

@media maw[mlg]
    .int-table
        thead
            display none
        & &__header
            border 0px !important
            padding 0 5px
            margin-bottom 10px
        & &__count
            width 100%
            margin-bottom 20px
            fl()
            font-size f_medium
            span
                width 50%
                display block
        & &__hidden
            td
                padding-top 10px
                padding-bottom 10px
        & &__stab
            &-right
                fl(w,fe,c)
            &-text
                margin-right 0
                width 100%
            & ^[0]__control
                top auto
                bottom 18px
            &-bl
                margin-right 0
                width 100%
