.toasted

    &-container.bottom-right
        right: 20px !important
        bottom: 20px !important
        max-width: calc(100% - 40px)

    &__content
        padding: 20px 0 20px 40px
        font-size 12px
        width: 280px
        max-width: 100%

    &__icon
        display: block
        absolute left 20px top 20px
        font-size: 20px
        text-shadow 1px 2px 5px rgba(8, 70, 0, 0.2)

    &__title
      font-size 16px
      font-weight 700
      margin-bottom: 10px
      display: block
      line-height: 1.1
