.profile-wrap
    fl()  
    & &__left
        width 70%
        padding-right 40px
    & &__right
        width 30%
        margin-bottom 30px
    & &__ava
        display block
        width 100%
        position relative
        margin-top -67px
        min-height 200px
        z-index 5
        img 
            display block
            width 100%
        &-remove
            font-size 14px
            color #ffffff
            display block
            tr(0.3)
            opacity 0
            z-index 3
            absolute right 20px top 20px
            &:hover
                opacity 0.5
        &-change
            absolute left 0 top 50%
            transform translateY(-50%)
            display block
            text-align center
            z-index 3
            width 100%
            tr(0.3)
            opacity 0
            .btn
                display inline-block
        &-noavatar
            absolute left 0 top 0
            size 100%
            z-index 1
            font-size 100px
            fl(,c,c)
        &:before
            size 100%
            display block
            opacity 0
            tr(0.5)
            background-color rgba(0,0,0,0.3)
            absolute left 0 top 0
            z-index 2
            content ''
        &:hover
            &:before
                opacity 1
            & ^[0]__ava
                &-remove
                    opacity 1
                    &:hover
                        opacity 0.5
                &-change
                    opacity 1
    & &__address
        margin-bottom 25px
        &-list
            li
                margin-bottom 5px

@media maw[mlg]
    .profile-wrap
        flex-wrap wrap
        & &__left
            width 100%
            padding-right 0
            order 2
        & &__right
            width 100%
            order 1
        & &__ava
            margin-top -25px
            margin-left -25px
            margin-right -25px
            width auto