.tab-builder
    margin-bottom 25px

.tab-switcher
    position: relative // for transition
    overflow: hidden

    &__tab
        margin-top 25px
        

.tab-nav
    fl()
    position relative
    box-shadow inset 0 -1px 0px 0px var(--tc_border)
    .context-menu
        &.is-opened
            z-index 5
    &__overflow
        fl()
        width 100%
        overflow hidden
        flex-grow 1
    &__toggler
        padding 17px 25px 17px 0
        display block
        font-size 14px
        color var(--tc_link_semi)
        white-space: nowrap
        position relative
        &:before
            size 0px 2px
            background-color var(--tc_link_semi_active)
            display block
            opacity 0
            absolute left 0 bottom 0
            tr(0.25)
            content ''
        &:hover
            color var(--tc_link_semi_active)
            text-decoration none
        &.is-active
            pointer-events: none
            color var(--tc_link_semi_active)
            &:before
                width calc(100% - 25px)
                opacity 1
    &__hidden-toggler
        position: absolute
        bottom: 0
        flex-shrink 0
        .context-menu__toggler
            white-space nowrap
            padding 16px 0
            display block
            font-size 14px
            border-bottom 2px solid transparent
            color var(--tc_link_semi)
            white-space: nowrap
            position relative
            padding-right 12px
            &:after
                angle()
                margin-top 0px
                tr(0.25)
            &:hover
                color var(--tc_link_semi_active)
                &:after
                    border-top-color var(--tc_link_semi_active)
        &.has-active-item
            &:after
                content: ''
                display: block
                absolute left 0 bottom 15px
                right: 12px
                height: 1px
                background-image: linear-gradient(to right, var(--tc_link_semi_active) 50%, transparent 50%)
                background-size: .5rem 1px
                background-repeat: repeat-x



// @media res_desktop--sm
//     .tab-nav
//         &__togglers
//             margin-left -20px
//             margin-right -20px
//             padding-left 20px
//             padding-right 20px

@media res_mobile--lg
    .tab-nav
        &__togglers
            flex-wrap wrap
        &__overflow
            height 1px
            width 100%
            overflow hidden
        &__toggler
            width 100%
            margin-right 0
            flex-shrink 0
        &__hidden-toggler
            margin-left 0
            width 100%
            display block
            .context-menu__toggler
                width 100%
                padding-top 17px
                padding-bottom 17px
                color var(--tc_link_semi_active)
                &:after
                    border-top-color var(--tc_link_semi_active)
            .context-menu__dropdown
                box-shadow none
                position static
                left 0
                top 0
                background-color transparent
            .cm-item__button, .cm-item__link
                background-color transparent
                padding-left 0
                padding-right 0
                padding-bottom 12px
                padding-top 12px
            .context-menu__list
                box-shadow: none
                background-color transparent
                padding-bottom 10px

// transition classes
.tab-transition

    &-enter-active,
    &-leave-active
        transition: opacity 200ms ease

    &-leave-to,
    &-enter
        opacity: 0

    &-enter-active
        transition-delay: 100ms

    &-leave-active
        position: absolute
        top: 0
        left: 0
        right 0