.theme-switcher
    fl(,,c)
    cursor pointer
    user-select none
    &__switcher
        switcher()
        position: relative
        margin-right: 11px
        z-index 1
    &__input
        cursor pointer
        &::-moz-focus-outer
            border-color transparent
        width 100%
        position relative
        z-index 2
        opacity 0
    &.is-active
        & ^[0]__switcher
            switcher-active()
