.has-wave
    position: relative
    overflow: hidden
    touch-action: manipulation
    
    > *
        pointer-events: none

.wave
    display: block
    position: absolute
    width: 100%
    padding-bottom: 100%
    border-radius: 50%
    pointer-events: none
    transition: none
    transform: scale(0)
