.has-wawe
    position: relative
    overflow: hidden

.wawe
    display: block
    position: absolute
    width: 100%
    padding-bottom: 100%
    transform: translate(-50%, -50%) scale(0)
    opacity: 1
    border-radius: 50%
    background-color: rgba(0,0,0,.2)
    pointer-events: none
