.frame__header
    .frame__header-top
        form.frame__search#search(v-bind:class="{ active: $awesLayoutCrm.showSearch }" action="js" method="get") 
            span.frame__search-link(v-on:click="$awesLayoutCrm.showSearch = !$awesLayoutCrm.showSearch")
                i.icon.icon-search
            .frame__search-hidden
                input.frame__search-input(type="text" placeholder="Search...")
                button.frame__search-btn(type="submit") Search
                span.frame__search-close(v-on:click="$awesLayoutCrm.showSearch = !$awesLayoutCrm.showSearch")
                i.icon.icon-cross
        .frame__userinfo
            a.frame__userinfo-link(href="")
                span.icon.icon-ruppor
                    i.icn-dot
            span.frame__header-add
                i.icon.icon-plus
            a.frame__userinfo-link(href="")
                span.icon.icon-hdd
                    i.icn-dot
            transition(name="user-menu")
                .user-menu(v-show="$awesLayoutCrm.showUserMenu")
                    include user-menu.pug
    .frame__header-line
        h1.frame__header-title= pageTitle
