meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet")
link(rel='stylesheet', href='css/main.css')
script.
    AWES_CONFIG = {key: '680a7d07f89b94e7fc83be657a2daa27'}
script(src="/test-core/core-v6.js")