

body
  color tc_text

blockquote
  background-color tc_ui_bg_semi
  box-shadow tc_ui_shadow
  span
    color tc_text_caption

a
  color tc_link
  &:hover
    color cl_skydark
      
.infbl
  & &_icon
    color tc_text_caption
  & &__caption
    color tc_text_caption

.static-page
  background-color tc_ui_bg_semi
  & &__head
    background-image tc_aside_gradient
    color tc_invert
  & &__content
    background-color tc_ui_bg
  & &__search-link  
    color tc_invert
    &:hover
      color tc_link
  & &__footer
    &-logo
      color tc_text_caption 
      a
        color tc_text_caption
        &:hover
          color tc_link
      .icon
        color tc_link


body 
  background-color tc_theme_body

// Placeholder start

phAnimation(color_def, percent_def, type = darken)
  if(type == darken)
    background-image linear-gradient(to left, color_def 0%, darken(color_def, percent_def) 50%, color_def 100%)
  else 
    background-image linear-gradient(to left, color_def 0%, lighten(color_def, percent_def) 50%, color_def 100%)
  background-size 500% 100%


fb-input, fb-select, fb-textarea, fb-checkbox, fb-checkbox:after
  if(luminosity(tc_ui_bg) < 0.5)
    phAnimation(tc_ui_bg_darken, 17%)
  else
    phAnimation(tc_ui_bg_darken, 10%)
  background-color tc_ui_bg_darken

.ph
  span
    if(luminosity(tc_ui_bg) < 0.5)
      phAnimation(tc_ui_bg_semi, 17%)
    else
      phAnimation(tc_ui_bg_semi, 10%)
    background-color tc_ui_bg_semi
  &_dark
    span
      if(luminosity(tc_ui_bg) < 0.5)
        phAnimation(tc_ui_bg_darken, 17%)
      else
        phAnimation(tc_ui_bg_darken, 10%)
      background-color tc_ui_bg_darken
  & &__nav, & &__mnav
    span
      if(luminosity(tc_aside_bg) < 0.5)
        if(luminosity(tc_ui_bg) < 0.5)
          background-image linear-gradient(to left, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.05) 100%)
        else
          background-image linear-gradient(to left, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.05) 100%)
        background-color rgba(255,255,255,0.05)
      else
        background-color rgba(0,0,0,0.15)
        background-image linear-gradient(to left, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.15) 100%)
  & &__table
    box-shadow tc_ui_shadow
    span
      if(luminosity(tc_ui_bg) < 0.5)
        phAnimation(tc_ui_bg_semi, 10%, lighten)
      else
        phAnimation(tc_ui_bg_semi, 5%)
      background-color tc_ui_bg_semi
    &-row
      box-shadow tc_ui_shadow
      background-color tc_ui_bg
      border-color tc_border_light
  & &__list
    box-shadow tc_ui_shadow
    span
      if(luminosity(tc_ui_bg) < 0.5)
        phAnimation(tc_ui_bg_semi, 10%, lighten)
      else
        phAnimation(tc_ui_bg_semi, 10%)
      background-color tc_ui_bg_semi
    &-row
      box-shadow tc_ui_shadow
      background-color tc_ui_bg
      border-color tc_border_light


frame-nav
  @media res_tablet--lg
    background-color tc_aside_bg

// Placeholder end

.action-menu
  & &__click
    color tc_link_semi
    &:hover
      color tc_link_semi_active

.ava-text
  .icon
    background-color tc_ui_bg_darken
    color tc_text_caption

.novatar
  background-color tc_ui_bg_darken
  color tc_text_caption

.number-field
  & &__field
    background-color tc_ui_bg
    border 1px solid tc_border
  & &__plus, & &__minus
    border 1px solid tc_border
    color tc_ui_btn_light_text
    background-color tc_ui_btn_grey
    &:hover
      background-color tc_ui_hover
      color tc_ui_hover_text
      border 1px solid tc_ui_hover

.figure-loader
  & &__img
    background-color tc_ui_bg
  & &__remove
    color tc_link_semi
    &:hover
      color tc_link_semi_active

.form-title
  color tc_text
  .icon
    color tc_text_caption

.ui-title
  color tc_text

.header-tabs
  border-bottom-color tc_border
  & &__link, & &__ltlink
    color tc_link_semi
    &.active
      border-bottom-color tc_ui_hover
      color tc_link_semi_active
    &:hover
      color tc_link_semi_active
  // .cm-item
  //   &__button
  //     color tc_link_semi
  //     &.active
  //       border-bottom-color tc_ui_hover
  //       color tc_link_semi_active
  //     &:hover
  //       color tc_link_semi_active

.form-spoiler
  & &__title
    color tc_link_black
    &:hover
      color tc_link
  &:before
    background-color tc_border_light
  &:after
    border-color tc_border_night


// .v
//   &--modal
//     background-color tc_ui_bg !important
//     &-overlay
//       background alpha(cl_black, 0.8) !important
//     &-close
//       color tc_link_semi
//       &:hover
//         color tc_link_semi_active


.vue-dialog
  .vue-dialog-buttons
    .vue-dialog-button
      &:nth-child(2)
        border-top 1px solid tc_border_light
        background-color tc_ui_bg !important
        color cl_asphalt !important
        &:hover
          if(luminosity(tc_ui_bg) > 0.5)
            background-color darken(tc_ui_bg, 5%) !important
          else
            background-color lighten(tc_ui_bg, 5%) !important
          color cl_asphalt


.modal
  background-color: alpha(cl_black, 0.8)
  & &__dialog
    background-color tc_ui_bg
  & &__close
    color tc_link_semi
    &:hover
      color tc_link_semi_active
  .line-btns 
    background-color tc_ui_bg
    &__wrap
      background-color tc_ui_bg
    .btn
      background-color cl_grass !important
      color cl_white !important
      &:hover, &:focus
        background-color darken(cl_grass, 10%) !important
        color cl_white
      &:nth-child(2)
        border-top 1px solid tc_border_light
        background-color tc_ui_bg !important
        color cl_asphalt !important
        &:hover, &:focus
          if(luminosity(tc_ui_bg) > 0.5)
            background-color darken(tc_ui_bg, 5%) !important
          else
            background-color lighten(tc_ui_bg, 5%) !important
          color cl_asphalt
      &[disabled="disabled"]
        background-color tc_ui_darkbg !important
        pointer-events none
        opacity 0.5



.vue-dialog-buttons
  .vue-dialog-button
    background-color cl_grass !important
    color cl_white !important
    &:hover
      background-color darken(cl_grass, 10%) !important
    &:nth-child(2)
      background-color cl_white !important
      color cl_asphalt !important
      &:hover
        background-color darken(cl_white, 5%) !important

.hfilter
  & &__wrap
    background-color tc_ui_bg
    min-height 100%

.overflow-window
  background-color tc_ui_bg
  color tc_text
  & &__link
    color tc_link_black
    &_red
      color cl_warn
    &:hover
      background-color tc_ui_btn_light
  & &__title
    color tc_text_caption
  & &__close
    color tc_link_semi
    &:hover
      color tc_link_semi_active

.filter
  & &__slink
    color tc_link_semi
    .icon
      color tc_link_semi
    &:hover
      color tc_link_semi_active
      .icon
        color tc_link_semi_active
      &:after
        border-top-color tc_link_semi_active
  & &__checkbox
    &-label
      border-color tc_border
      color tc_link_semi
      &:hover
        color tc_link_semi_active
    &-datapicker
      color tc_link_semi
      &:focus
        color tc_link_semi_active
    & ^[0]__checkbox-hInput:checked + .filter__checkbox-label
      background-color tc_ui_bg
      color tc_link_semi_active
      .filter__checkbox-datapicker
        background-color tc_ui_bg
    &-cell
      &_active
        & ^[0]__checkbox-label
          background-color tc_ui_bg
          color uiElement_active
        & ^[0]__checkbox-datapicker
          background-color tc_ui_bg
  &__form-builder
    background-color: tc_ui_bg

.price-table
  // border 1px solid tc_border
  padding-left 1px
  & &__cell
    border 1px solid tc_border
    background-color tc_ui_bg
    &.active
      border 1px solid cl_grass
  & &__list
    li
      border-bottom 1px solid tc_border_dark
      color tc_text_caption
      &:last-child
        border-bottom 0
  & &__spoiler
    & ^[0]__list
      li
        &:last-child
          border-bottom 1px solid tc_border_dark
  & &__caption
    color tc_text_caption
    &_dark
      color tc_text
  & &__moreinfo
    color tc_link_dark
    &:hover
      text-decoration underline
  & &--cancel
    &:hover
      color cl_red

.paycard
  & &__current
    color tc_text
    &-caption
      color tc_text_caption
  & &__info-text
    color tc_text_caption
  & &__wrap
    color cl_white
    background-image tc_gradient_1
    box-shadow tc_shadow_blue
  & &__select
    color cl_white
    &:hover
      color cl_white !important
  &_red
    & ^[0]__wrap
      background-image tc_gradient_2
      box-shadow tc_shadow_red
  &_white
    & ^[0]__wrap
        box-shadow tc_shadow_gblue
        background-image none
        background-color tc_ui_bg
    & ^[0]__select
        color tc_link_semi
  & &__paylogo
    figcaption
      color tc_text
  & &__hover
    background-color tc_ui_bgopacity
  &:hover
    & ^[0]__select
      color tc_link_semi

@media (pointer: coarse)
  .paycard
    & &__hover
      background-color transparent
    & &--btn
      color tc_link_semi !important
      background-color transparent !important
    & &__select
      color tc_link_semi !important


.modal_fullscreen
  background-color tc_ui_bg
  .modal
    &__header
      border-bottom 1px solid tc_border
      background-color tc_ui_bg
    &__back
      color tc_link_semi
      &:hover
        color tc_link_semi_active


.radiobox
  color tc_link_semi
  & &__icon
    border 1px solid tc_border
    &:before
      opacity 0
  // & &__text
  //   color tc_link_semi
  & ^[0]__field:checked + .radiobox__content
    & ^[0]__text
      color tc_link_semi_active
    & ^[0]__icon
      background-color cl_grass
      border-color cl_grass
      color cl_white 
      &:before
        opacity 1
        background-color cl_white
  & ^[0]__field:focus + .radiobox__content
    & ^[0]__icon
      border 1px solid tc_ui_focus


// .box-checker
//   overflow hidden
//   position relative
//   padding-left 1px
// 
//   & &__content
//     background-color tc_ui_bg_semi
//     border 1px solid tc_border
//   & &__box
//     color tc_text_caption
//     margin-left -1px  
//     &:first-child
//       & ^[0]__content
//         border-radius 3px 0px 0px 3px
//     &:last-child
//       & ^[0]__content
//         border-radius 0px 3px 3px 0px
//   & ^[0]__field:focus + .box-checker__content
//     background-color tc_ui_focus
//     color cl_white
.box-checker        
  .fc-radio .fc-radio__box.is-checked
    background-color tc_ui_bg
    color tc_text
    z-index 10
    position relative
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    border 1px solid cl_grass
    
    &:not(:first-child)
      margin-left: -1px

    .box-checker__caption
      color tc_text_caption

.fc-radio
  overflow hidden
  position relative
  & &__box
    border 1px solid tc_border
    border-left none
    color tc_text_caption
    &:first-child
      border-left 1px solid tc_border
      border-radius 3px 0 0 3px
    &:last-child
      border-radius 0 3px 3px 0
  & &__text
    background-color tc_ui_bg_semi
  & ^[0]__field:focus + .fc-radio__text
    background-color tc_ui_focus
    color cl_white
  & ^[0]__field:checked + .fc-radio__text
    background-color tc_ui_bg
    color tc_text

        
  

.icn-dot
  background-color cl_warn

.checkbox
  & &__text
    span
      color tc_link_semi
    .icon
      border 1px solid tc_border_dark
      color transparent
  input:checked + .checkbox__text span
    color tc_link_semi_active
  input:checked + .checkbox__text .icon
    color cl_white
    background-color cl_grass
    border 1px solid cl_grass
  input:focus + .checkbox__text .icon
    border 1px solid tc_ui_focus
  input:focus + span .icon
    box-shadow 0px 0px 0px 1px cl_sky !important
  &_s2
    .icon
      if(luminosity(tc_ui_bg) > 0.5)
        background-color tc_ui_darkbg
      else
        background-color darken(tc_ui_darkbg, 50%)
      &:before
        background-color cl_white
        box-shadow 0px 0px 5px alpha(tc_ui_darkbg, 0.5)
  &_disabled
    & input:disabled + ^[0]__text
      .icon
        border-color: tc_border
        color transparent
        background-color tc_ui_bg_semi
      span
        color: tc_link_semi
    & input:disabled:checked + ^[0]__text
      .icon
        color: tc_ui_darkbg
    &^[0]_s2
      & input:disabled + ^[0]__text
        .icon
          border-color: tc_border
          opacity 0.3
          background-color tc_ui_darkbg
        span
          color: tc_link_semi





.multiselect
  & &__tag
    color tc_ui_tag_text !important
    background-color tc_ui_tag !important
    &-icon
      border-left 1px solid tc_ui_bg !important
  & &__tags
    background-color tc_ui_bg
    border 1px solid tc_border_ins !important
  & &__content-wrapper
    background-color tc_ui_bg
    border 1px solid tc_border_ins
    border-top 0px !important
  &--above
    & ^[0]__content-wrapper
      border-top 1px solid tc_border_ins !important
      border-bottom 0 !important
  & &__input
    background-color tc_ui_bg
    color tc_text
  & &__select
    border-color: tc_ui_bg transparent transparent
  & &__option
    color tc_text
    &--highlight
      background-color tc_ui_bg_semi !important
      color tc_text !important

.multiselect__input::-webkit-input-placeholder
  color tc_text !important

.multiselect__input:-moz-placeholder
  color tc_text !important

.multiselect__input::-moz-placeholder
  color tc_text !important

.multiselect__input:-ms-input-placeholder
  color tc_text !important

.mselect
  & &__label
    color tc_text_caption


.multi-bl
  & &__title
    color tc_text
  & &__close
    color tc_link_semi
    &:hover
      color tc_link_semi_active
  & &__clear
    color tc_link_black
    background-color transparent
    &:hover
      color cl_warn
    &:focus
      color tc_ui_focus
  & &__add
    background-color transparent
    color tc_link
    &:hover, &:focus
      color tc_link_dark
  &_disabled &
      &__clear,
      &__close,
      &__add
          opacity: .5
          color tc_text_caption

.input
  & &__okicon
    color cl_salad
  & &__editable
    border-left 1px solid tc_border_ins
    &-caption
      color tc_text_caption   
  & &__eye
    color tc_text_caption
    &:hover
      color tc_link
  & &__field
    border 1px solid tc_border_ins
    color tc_text
    background-color tc_ui_bg
    tr(0.25)
    &:focus
      border 1px solid tc_ui_focus
    &:-webkit-autofill
      -webkit-box-shadow 0 0 0 30px tc_ui_bg inset
      -webkit-text-fill-color tc_text !important
  & &__textarea
    border 1px solid tc_border_ins
    color tc_text
    background-color tc_ui_bg
    &:focus
      border 1px solid tc_ui_focus
    &:-webkit-autofill
      -webkit-box-shadow 0 0 0 30px tc_ui_bg inset
      -webkit-text-fill-color tc_text !important
  & &__label
    color tc_text_caption
    background-color tc_ui_bg
  & &__clone, & &__remove
    background-color tc_ui_bg_semi
    color tc_link_semi
    &:hover
      color tc_link_semi_active
  &_autocomplete
    & ^[0]__field
      border 1px solid tc_link_dark !important
  & &__autocomplete
    background-color tc_ui_bg
    border 1px solid cl_sky
    border-top 0px
    &-caption
      color tc_text_caption
    &-info
      background-color tc_ui_bg_semi
      color tc_text_caption
    &-loading
      background-color tc_ui_bg_semi
      color tc_text_caption
    &-hidden
      a
        color tc_link_black
        &:hover
          background-color tc_ui_btn_light
          color tc_link_black

  &_error
    & ^[0] ^[0]__field
      border 1px solid cl_warn
    & ^[0] ^[0]__textarea
      border 1px solid cl_warn
  &_ok
    & ^[0]__field
      if(luminosity(tc_page_bg) > 0.5)
        border 1px solid cl_salad
    & ^[0]__textarea
      if(luminosity(tc_page_bg) > 0.5)
        border 1px solid cl_salad
  &_disabled
    opacity 0.5
    & ^[0]__field
      border 1px solid tc_border
      color tc_text_caption
      background-color tc_page_bg
    & ^[0]__textarea
      border 1px solid tc_border
      color tc_text_caption
      background-color tc_page_bg
    & ^[0]__label
      background-color tc_page_bg

.modal-form
  & &__title
    color tc_text
  & &__buttons
    border-top 1px solid tc_border_ins

.loading-inline, .loading-block
  &:before
    background-color tc_ui_bg

.btn
  color tc_btn_text
  background-color tc_btn_bg
  &:hover, &:focus
    background-color darken(tc_btn_bg, 10%)
    color tc_btn_text
  &_white
    background-color tc_btn_tr_bg
    color tc_btn_tr_text
    &:hover, &:focus
      background-color darken(tc_btn_tr_bg, 10%)
      color tc_btn_tr_text
  &_transparent
    background-color transparent
    color tc_btn_tr_text
    &:hover, &:focus
      background-color darken(tc_ui_bg_darken, 10%)
  &_sh
    box-shadow: 1px 2px 3px alpha(tc_btn_bg, 0.5);
  &_darkred
    background-color transparent
    color cl_white
    &:hover, &:focus
      color cl_warn
      background-color transparent
  &_greylink
    background-color transparent
    color tc_link_semi
    &:hover, &:focus
      background-color transparent
      color tc_link
  &.loading-inline
    &:hover, &:focus
      background-color cl_grass
  &[disabled="disabled"]
    background-color tc_ui_darkbg !important
    pointer-events none
    opacity 0.5



.pager
  & &__caption
    color tc_link_semi
  & &__shows
    &-link
      color tc_link_semi
      &:hover
        color tc_link_semi_active
        &:after
          border-top-color tc_link_semi_active
  & &__link
    border 1px solid tc_border
    color tc_link_semi
    &_active
      background-color tc_ui_bg
      color tc_link_semi_active
    &:hover
      color tc_link_semi_active
  & &__spacer
    border 1px solid tc_border
    color tc_link_semi
  & &__arr-left, & &__arr-right
    color tc_link_semi
    &:hover
      color tc_link_semi_active

.actions-overflow
  & &__icon
    border-left 1px solid tc_border_light
    border-bottom 1px solid tc_border_light
  & &__link
    color tc_link_black
    &_red
      color cl_warn
    &:hover
      background-color tc_ui_btn_light
  & &__title
    color tc_text_caption
  & &__actions
    background-color tc_ui_bg

.tooltip
  background-color tc_tooltip_bg
  &:before
    border-top: 4px solid tc_tooltip_bg
  &[x-placement="right"]
    &:before
      border-top 4px solid transparent
      border-right 4px solid tc_tooltip_bg
  &.theme-error
    background-color cl_warn
    color tc_tooltip_text
    &:before
      border-top-color cl_warn
    &[x-placement="right"]
      &:before
        border-top 4px solid transparent
        border-right 4px solid cl_warn

.notifications
  .vue-notification
    background-color: tc_link !important
    if(luminosity(tc_page_bg) > 0.5)
      box-shadow 3px 4px 20px alpha(tc_link, 0.5) !important
    else
      box-shadow 3px 4px 20px alpha(cl_black, 0.5) !important
    &__animation
      background-color: darken(tc_link, 15%) !important
    &.success
      background-color cl_grass !important
      box-shadow 3px 4px 20px alpha(cl_salad, 0.5) !important
      if (luminosity(tc_page_bg) > 0.5)
        box-shadow 3px 4px 20px alpha(cl_salad, 0.5) !important
      else
        box-shadow 3px 4px 20px alpha(cl_black, 0.5) !important
      .vue-notification__animation
        background-color: darken(cl_salad, 15%) !important
      .vue-notification__btn:hover
        color: cl_yellow !important
    &.error
      background-color: cl_warn !important
      if (luminosity(tc_page_bg) > 0.5)
        box-shadow 3px 4px 20px alpha(cl_warn, 0.5) !important
      else
        box-shadow 3px 4px 20px alpha(cl_black, 0.5) !important
      .vue-notification__animation
        background-color: darken(cl_warn, 15%) !important
      .vue-notification__btn:hover
        color: cl_warn !important
    &.warn
      background-color: cl_yellow !important
      if (luminosity(tc_page_bg) > 0.5)
        box-shadow 3px 4px 20px alpha(cl_yellow, 0.5) !important
      else
        box-shadow 3px 4px 20px alpha(cl_black, 0.5) !important
      .vue-notification__animation
        background-color: darken(cl_yellow, 15%) !important
      .vue-notification__btn:hover
        color: cl_yellow !important
  &_header
    .vue-notification
      &__btn
        color: cl_white
        border: 1px solid rgba(255,255,255,0.5)
        &:hover
          background-color: cl_white
          color: tc_link
      &__close
        color: cl_white
  &_rb
    .vue-notification
      &__wrap
        padding-left: 30px
      &__close
        color: cl_white
      &__left-icon
        color: cl_white

body.v--modal-block-scroll
  .vue-notification
    box-shadow none !important

.flex-list
  & &__caption
    color tc_text_caption
  & &__title
    color tc_text

.text-caption
  color tc_text_caption

.blue-link
  color tc_link

.upper-link
  color tc_text_caption
  &:hover
    color tc_link

.int-table
  & &__footer
    background-color tc_ui_bg_darken
  & &__drag-icon
    .icon
      color tc_text_caption
  & &__flink
    color tc_link_semi
    &:hover
      color tc_link_semi_active
  & &__fcaption
    color tc_text
  & &__header
    border 1px solid tc_border
  & &__count
    span
      color tc_text_caption
  & &__table
    background-color tc_ui_bg
    th
      background-color tc_ui_bg_darken
      color tc_text_caption
    td
      border-bottom 1px solid tc_border_dark
    tr
      &:hover
        background-color tc_ui_bg_semi
    tr.active:hover
      background-color transparent

    tbody
      box-shadow tc_ui_shadow
  & &__show
    color tc_text_caption
  & &__status
    &-icon
      color tc_text_caption
  & &__link, a
    color tc_link
  & &__caption
    color tc_text_caption
  & &__status
    border 1px solid cl_grass
    color cl_grass
    &_red
      background-color cl_warn
      color cl_white
      border 1px solid cl_warn
  & &__controll
    color tc_link_semi
    &:hover, &.active
      color tc_link_semi_active
    &-tab
      @media res_desktop--md
        border-left 1px solid tc_border
        &.active
          background-color lighten(tc_border_dark, 50%)
  & &__block
    &.active
      & ^[0]__controll-tab
        @media res_desktop--md
            background-color: tc_ui_bg_semi
            border-bottom 1px solid tc_border

.context-menu
  &__overlay
    background-color: tc_ui_shadow-overflow

  &__list
    box-shadow: tc_ui_context_menu_shadow
    background-color tc_ui_context_menu_bg

  &__toggler-default
    color tc_text
    border-color: tc_ui_context_menu_border

    &:hover
      background-color: tc_ui_context_menu_border

  &.is-opened
    .context-menu__toggler-default
        background-color: tc_ui_context_menu_border

  &.is-top-side
    .context-menu__list
      box-shadow: tc_ui_context_menu_shadow_top

.cm-item
  &.is-separator
    border-bottom: 1px solid tc_ui_context_menu_border

  &__link,
  &__button
    color tc_link_semi

    &:hover,
    &:focus
      color tc_link_semi_active
      background-color: tc_ui_context_menu_hover_bg

    &.is-danger
      color: cl_warn
    
    &.is-active
      border-bottom-color tc_ui_context_menu_hover_bg
      color tc_link_semi_active

  &__panel
    border-bottom: 1px solid tc_ui_bg_darken

    &.is-secondary
      background-color: tc_page_bg

.chart
  &-icon
    &:before
      background-color cl_black
      border-color cl_white
    &:after
      background-color cl_black
    &_1
      &:before, &:after
        background-color cl_morning
    &_2
      &:before, &:after
        background-color cl_dream
    &_3
      &:before, &:after
        background-color cl_darkdrean
    &_4
      &:before, &:after
        background-color cl_japanshine
    &_5
      &:before, &:after
        background-color cl_heartlife

.tf
  &-caption
    color tc_text_caption
  ol
    li
      &:before
        color tc_text_caption
  &-dottedlink
    color tc_link_semi
    border-color tc_link_semi
    &:hover
      color tc_link_semi_active
      border-color tc_link_semi_active
  &-pagetitle
    color tc_text
  &-hyplink
    color tc_text_caption
    &:hover
      color tc_link



.chart
  &-icon
    i
      border-color tc_ui_bg

.chart-box
  box-shadow tc_ui_shadow
  background-color tc_ui_bg
  color tc_text
  & &__icon
    color tc_text_caption
  & &__list
    a
      color tc_link_semi
      &:hover
        color tc_link_semi_active
      &.active
        color tc_link_semi_active
        border-color tc_link_semi_active
  & &__mrlink
    color tc_link_semi
    &:hover
      color tc_link_semi_active
  & &__info
    &-more
      color tc_link_semi
      &:hover
        color tc_link_semi_active
    &-greycapt
      color tc_text_caption
    &-redcapt
      color cl_warn
  &_error
    & ^[0]__icon
      color cl_warn

.cl_caption
  color tc_text_caption

.cl
  &_red
    color cl_warn
  &_green
    color cl_grass


.justify-list
  color tc_text
  box-shadow tc_ui_shadow
  background-color tc_ui_bg
  a
    color tc_link
  li
    border-color tc_border_light

.j-table
  color tc_text
  box-shadow tc_ui_shadow
  background-color tc_ui_bg
  & &__nd
    &-caption
      color tc_text_caption
    &-icon
      color tc_text_caption
  a
    color tc_link
  & &__rate
    color tc_text_caption
  td
    border-color tc_border_light
    @media res_mobile--md
      border-bottom 0
  tr
    @media res_mobile--md
      border-color tc_border_light

.dashboard
  & &__tabs
    box-shadow tc_ui_shadow
    .justify-list
      box-shadow: none
    .tabs-component
      &-tab
        border-color tc_border_light
        font-size f_normal
        a
          color tc_text_caption
          &:hover
            color tc_text
        &.is-active
          background-color tc_ui_bg
          a
            color tc_text
            &:hover
              color tc_text

.header-notification, header-notification
  &.error, &[type="error"]
    background-color cl_warn
    color cl_white
    & ^[0]__close
      color cl_white

.profile-wrap
  & &__ava
    background-color tc_ui_bg_darken
    &-noavatar
      color tc_text_caption

.login-page
  & &__left
    background-color tc_ui_bg
  & &__spacer
    color tc_text_caption
    i
      background-color tc_ui_bg
      &:before, &:after
        background-color tc_border
  & &__logo
    if (luminosity(tc_page_bg) > 0.5)
      color tc_color_main
    else
      color tc_link
    &:hover
      color lighten(tc_color_main, 15%)
    &_white
      color cl_white
      @media res_mobile--lg
        if (luminosity(tc_page_bg) > 0.5)
          color tc_color_main
        else
          color tc_link
      &:hover
        color cl_sky
    
  & &__sbox
    background-color tc_ui_bg

.keycode
  & &__field
    border 1px solid tc_border_ins
    background-color tc_ui_bg
    color tc_text
    &:focus
      border 1px solid tc_ui_focus
  & &__ffield
    &:after
      background-color tc_text_caption

.frame
  & &__mobile-shadow
    background-color tc_ui_shadow-overflow
  & &__aside
    background-image tc_aside_gradient
    if (luminosity(tc_page_bg) > 0.5)
      box-shadow 0 20px 30px lighten(tc_aside_bg, 60%)
    else
      box-shadow 0 20px 30px darken(tc_aside_bg, 50%)

    &-mtitle
      color tc_aside_text
    &-close
      color tc_aside_text
    &-usermenu
      .context-menu
        // &:after
        //   background-color: tc_ui_shadow-overflow //rgba(cl_black, 65%)
    &-open
      span
        background-color tc_aside_link
        &:before
          background-color tc_aside_link
        &:after
          background-color tc_aside_link
    &-title
      background-color tc_aside_bg_dark
      color tc_aside_text
      @media res_tablet--lg
        background-color transparent
    &-inlink
      color tc_aside_link
      &:before
        background-color tc_aside_link
      &:hover
        &:before
          background-color tc_aside_link
    &-intitle
      color tc_aside_link
    &-link
      color tc_aside_link
      .icon
        color tc_aside_link
      &_active
        &:before
          background-color tc_aside_bg_nav
    &-hidden
      background-color tc_aside_bg_nav
    &-line
      @media res_tablet--lg
        background-image tc_aside_gradient_header
        color tc_aside_text
        if (luminosity(tc_aside_bg) > 0.5)
          box-shadow: 0 0 30px alpha(tc_aside_bg, 0.4)
        else
          box-shadow: 0 0 30px alpha(cl_black, 0.7)
      &_top
          @media res_tablet--lg
            box-shadow none
    &-nav
      @media res_tablet--lg
        background-image tc_aside_gradient
      &.active
        @media res_tablet--lg
          box-shadow 0 0 30px darken(tc_aside_bg, 60%)
    &-li
      &_active
        & ^[0]__aside-link
          opacity 1
          &:before
            height 100%
            background-color tc_aside_bg_dark
  & &__right
    background-color tc_page_bg
  & &__header
    background-color tc_header_bg
    &-rlink
      border-color  tc_header_iconlink
      color  tc_header_iconlink
      &:hover
        background-color  tc_header_iconlink
        color tc_header_iconlink_active
    &-filter
      color tc_header_link
      &:hover
        color tc_header_link_active
    &-add
      box-shadow 0 0 20px rgba(85, 61, 0, 0.15)
      background-color tc_ui_btn_smcolor
      color tc_ui_btn_smcolor_text
      &:hover
        background-color darken(tc_ui_btn_smcolor, 10%)
        color tc_ui_btn_smcolor_text
    &-title
      color tc_text
  & &__userinfo
    @media res_tablet--lg
      background-color tc_header_bg
      box-shadow 0px -5px 30px rgba(92,92,92,0.05)
    &-link
      .icon
        color tc_header_link
      &:hover
        .icon
          color tc_header_link_active
    &_twolinks
      a
        border-right-color tc_bordeer
  & &__usermenu
    .context-menu__dropdown
      box-shadow: 0 10px 20px 5px tc_ui_bg_darken
  & &__search
    &-input
      border-bottom 1px solid tc_border_ins
      background-color transparent
      color tc_text
      &:focus
        border-bottom 1px solid tc_border_active
    &-link
      color tc_header_link
      &:hover
        color tc_header_link_active
    &-close
      color tc_header_link
      &:hover
        color tc_header_link_active


.todolist
  background-color tc_ui_bg
  color tc_text
  & &__head
    border-bottom 1px solid tc_border_dark
  & &__block
    border-bottom 1px solid tc_border_dark
    &-add
      color tc_link_black
      border 1px solid tc_border_dark
    &-title
      color tc_text
      span
        color tc_text_caption
      &:before
        color tc_text_caption
      &:hover
        background-color tc_ui_btn_light
  & &__plus
    color tc_link_caption
    &:hover
      color tc_link_black

.profile-wrap
  & &__address
    &-blacklink
      color tc_link_black
      &:hover
        color tc_link

.project-block
  background-color tc_ui_bg
  &:hover
    box-shadow tc_ui_shadow
  & &__time
    color tc_text_caption
  & &__title
    color tc_link_black
    &:hover
      color tc_link_black_active
  & &__type
    color tc_text_caption
  & &__caption
    color tc_text_caption
  & &__ava
    border 1px solid tc_ui_bg
  & &__percent
    border-bottom 1px solid #cbcbcc
    color tc_text_caption
  & &__status
    border 1px solid tc_border_prj
    color tc_text_caption
    &_inproggress
      border 1px solid cl_salad
      color cl_salad
    &_stop
      border 1px solid cl_warn
      background-color cl_warn
      color cl_white
    &_sleep
      border 1px solid tc_link
      color tc_link
  &_inproggress
    & ^[0]__caption
      color cl_salad
    & ^[0]__percent
      border-bottom 1px solid cl_salad
      color cl_salad
  &_stop
    & ^[0]__caption
      color cl_warn


.usermenu

  .context-menu__dropdown
    color: tc_text
    background-color: tc_header_bg

  &__desc
    color: tc_text_caption

.progress
  color: tc_text_caption
  span
    color: cl_grass

  progress
    &::-webkit-progress-value
      background-color: cl_grass

    &::-moz-progress-bar
      background-color: cl_grass

  &.is-danger
    span
      color: cl_warn

    progress
      &::-webkit-progress-value
        background-color: cl_warn

      &::-moz-progress-bar
        background-color: cl_warn
