$base-transition = 300ms ease
$base-gap = 20px
$small-gap = 10px
$large-gap = 30px
$xlarge-gap = 50px
$link-color = #45a4dc
$link-color-hover = darken($link-color, 10%)

:root
    --ui-color #fff
    --ui-background #fff
    --ui-background-secondary #f8f8f8
    --ui-overlay alpha(#000, 0.5)
    --nav-color var(--ui-color)
    --nav-background linear-gradient(to bottom, #393a6f 0%, #4e396f 100%)
    --btn-color var(--ui-color)
    --btn-background #6abf5f
    --link-color $link-color
    --link-color-hover $link-color-hover
