.frame__aside#aside
    .frame__aside-line
        span.frame__aside-open.g-res--tablet-lg( :class="{ active: $awesLayoutCrm.togglenav }" @click="$awesLayoutCrm.openNav")
            span
        h2.frame__aside-title AwesCRM
        button.frame__aside-ava(@click="$awesLayoutCrm.showUserMenu = ! $awesLayoutCrm.showUserMenu")
            i.icon.icon-user.novatar.novatar_box
    nav.frame__aside-nav(v-bind:class="{ active: $awesLayoutCrm.togglenav }")
        .frame__aside-mhead.g-res--tablet-lg
            a.frame__aside-close(href="" @click.prevent="$awesLayoutCrm.openNav()")
                i.icon.icon-cross
            h4.frame__aside-mtitle
                span AwesCRM
        frame-nav(:links="[{name:'Dashboard', icon:'speed', link: '/newform.html'}, {name:'Admin', icon:'report', link: '/newform.html', children: [{name:'Dashboard', link: '/modal.html'}]}, {name:'Admin', icon:'report', children: [{name:'Dashboard', link: '/modal.html', active: true}]}]")
            div.ph
                div.ph__mnav
                    span.ph__mnav-link
                    span.ph__mnav-title
                ul.ph__nav
                    - for (var x = 0; x < 5; x++)
                        li
                            span.ph__nav-icon
                            span.ph__nav-text
