.frame__header
    .frame__header-top
        form.frame__search#search(v-bind:class="{ active: $awesLayoutCrm.showSearch }" action="js" method="get") 
            span.frame__search-link(v-on:click="$awesLayoutCrm.showSearch = !$awesLayoutCrm.showSearch")
                i.icon.icon-search
            .frame__search-hidden
                input.frame__search-input(type="text" placeholder="Search...")
                button.frame__search-btn(type="submit") Search
                span.frame__search-close(v-on:click="$awesLayoutCrm.showSearch = !$awesLayoutCrm.showSearch")
                i.icon.icon-cross
    .frame__header-line
        .frame__title-line
            h1.frame__header-title= pageTitle
            .head-context
                button.head-context__main v 1.0.0
                .head-context__hidden
                    ul.head-context__hidden-ul
                        li.active
                            button.head-context__hidden-btn 1.0.0
                        li
                            button.head-context__hidden-btn 1.0.1
                        li
                            button.head-context__hidden-btn 1.0.2
                        li
                            button.head-context__hidden-btn 1.0.3
                        li
                            button.head-context__hidden-btn 1.0.4
                        li
                            button.head-context__hidden-btn 1.0.5
        
