.chart
    &-icon
        size 18px 2px
        display block
        absolute left 0 top 9px
        i
            size 10px
            display block
            border 2px solid
            border-radius 50%
            absolute left 50% top -4px
            margin-left -5px
            z-index 2
            content '' 