.form
    &--select
        margin-bottom 10px
    &--navmenu
        margin-bottom 10px


.number-field
    size 54px 36px
    position relative
    & &__field
        size 54px 36px
        border-radius 2px
        padding-right 17px
        padding-left 3px
        font-size f_nomral
        text-align center
    & &__plus
        fl(,c,c)
        absolute top 3px right 3px
        border-radius 2px
        size 14px
        text-align center
        line-height 1
    & &__minus
        fl(,c,c)
        absolute bottom 3px right 3px
        border-radius 2px
        size 14px
        text-align center
        line-height 1


.mselect
    position relative
    z-index 10
    & &__label
        font-size f_middle
        absolute left 5px top 13px
        width 100%
        padding 0 15px
        display block
        pointer-events none
        z-index 300
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
        tr(0.15)
    .multiselect__input, .multiselect__single
        opacity 0
        tr(0.3)
    .multiselect__placeholder
        opacity 0
        margin-bottom 9px !important
    
    &_active
        z-index 11
        .multiselect__placeholder
            opacity 1
        & ^[0]__label
            font-size 10px
            top 7px
            height auto
            font-weight 600
        .multiselect__input, .multiselect__single
            opacity 1
    &_opened
        z-index 200



.multiselect
    margin-bottom 10px
    position relative
    z-index 100
    & &__tags
        min-height 50px !important
        padding-top 20px !important
        border-radius 2px !important
        padding-left 15px
    & &__option
        padding 7px 12px !important
        min-height 1px
    & &__select
        width 37px !important
        height 48px !important
        transition none
        &:before
            border-width: 4px 3px 0 !important
    & &__tag
        font-size f_small
        padding-left 5px !important
        border-radius 2px !important
        margin-right 6px !important
    & &__input
        font-size f_medium !important
        padding-left 0 !important
    & &__single
        font-size f_medium !important
        padding-left 0 !important
    & &__content
        display block !important
    &--active
        z-index 200 !important
        & ^[0]__select
            transition none
            &:before
                top 60%
    & &__tag-icon
        border-radius 0px 2px 0px 2px !important
        width 20px !important
        &:after
            color #ffffff !important
            font-size 20px !important
            line-height 19px !important
            display: block !important
            font-weight 300 !important
    & &__content-wrapper
        margin-top -1px
    &--above
        & ^[0]__content-wrapper
            margin-top 0
            margin-bottom -1px
            
.modal-form
    & &__wrap
        padding 40px
    & &__title
        text-align center
        font-size f_big
        font-weight 400
        margin-bottom 35px
    & &__buttons
        fl()
        .btn
            width 50%
            padding-top 22px
            padding-bottom 22px
            border-radius 0
            font-size f_medium
            text-transform none


.btn
    fl(,c,c)
    transition background-color 0.3s ease, color 0.3s ease
    border-radius 2px
    text-align center
    padding 15px 30px
    min-width 120px
    text-transform uppercase
    font-size f_smart
    .icon
        margin-right 7px
    &_ib
        display inline-block
    &_greylink
        padding 0
        min-width 1px
    &_loading
        pointer-events: none
        .icon
            animation rotate 1s infinite linear
    &:hover
        text-decoration none

.checkbox
    cursor pointer
    margin-bottom 10px
    display inline-block
    user-select none
    position relative
    padding-bottom 2px
    text-align left
    input
        opacity 0
        absolute left 0 top 0
        size 0px
        border 0
        background none
        box-shadow none !important
        border-radius 0
        pointer-events none
    & &__text
        position relative
        padding-left 28px
        display block
        span
            font-size f_medium
    .icon
        absolute left 0 top 2px
        size 16px
        border-radius 2px
        tr(0.25)
    &_disabled
        pointer-events: none
    &_inline
        margin-right 20px
    &_s2
        & ^[0]__text
            padding-left 42px
        .icon
            size 31px 16px
            border 0 !important
            border-radius 8px
            &:before
                width 18px
                height 18px
                tr(0.25)
                display block
                border-radius 50%
                absolute left -1px top -1px
                content ''
        input:checked + span .icon
            &:before
                left 14px



.form-smlink
    font-size f_small
    display inline-block
    margin-left 15px
    &:hover
        text-decoration underline

.fc-radio
    fl()
    width 100%
    text-align center
    margin-bottom 20px
    align-items: stretch
    & &__box
        width 100%
        cursor pointer
    & &__field
        absolute left 0 top 0
        size 0px
        opacity 0
    & &__text
        padding 7px
        width 100%
        display block


.radiobox
    position relative
    cursor pointer
    margin-bottom 10px
    display block
    & &__field
        absolute left 0 top 0
        size 0px
        opacity 0
    & &__content
        display block
        position relative
        padding-left 28px
    & &__icon
        size 18px
        border-style 50%
        fl(,c,c)
        border-radius 50%
        absolute left 0 top 1px
        &:before
            size 4px
            border-radius 50%
            display block
            absolute left 50% top 50%
            margin-top -2px
            margin-left -2px
            content ''


.keycode
    width 100%
    display block
    position relative
    & &__hidden
        absolute left 0 top 0
        size 1px
        display block
        opacity 0
    & &__wrap
        width 100%
        fl(,sb)
        cursor text
        margin-bottom 30px
        padding-left 5px
        padding-right 5px
    & &__field
        display block
        text-align center
        border-radius 2px
        font-size 20px
        font-weight 700
        position relative
        height 50px
        width 100%

        // if type is number
        appearance: textfield
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button
          -webkit-appearance: none
          margin: 0

    & &__ffield
        width calc(14% - 5px)
        &:nth-child(2), &:nth-child(4)
            margin-right 8%
            position relative
            &:after
                size 6px 2px
                display block
                absolute left 139% top 50%
                margin-left -3px
                margin-right -50%
                content ''
        

.box-checker
    // fl()
    // width 100%
    // margin-bottom 20px
    .fc-radio__box
        position relative
        padding 20px 5px
    // & &__content
    //     
    // & &__field
    //     absolute left 0 top 0
    //     opacity 0
    //     size 0px
    & &__title
        text-transform uppercase
        font-size f_small
        display block
        margin-bottom 2px
    & &__price
        font-size f_small
        display inline-block
        font-size 30px
        font-weight 300
        position relative
        small
            absolute right -15px top 3px
            font-size 17px
            font-weight 400
    & &__caption
        font-size f_small
        display block


.input
    position relative
    margin-bottom 10px
    z-index 100
    width 100%
    & &__eye
        absolute right 15px top 50%
        margin-top -9px
        display block
        z-index 701
        .icon
            font-size 18px 
    & &__editable
        width 50%
        absolute right 0 top 0
        z-index 700
        fl(,,c)
        height 50px
        overflow hidden
        font-size f_medium
        line-height 1
        padding-left 12px
        padding-right 12px
        &-wrap
            display block
            word-break break-all
    & &__wrap
        position relative
        width 100%
    // &_with-close
    //     padding-right 40px
    & &__color
        absolute left 15px bottom 10px
        size 14px
        display block
        pointer-events none
        tr(0.3)
        background-color #eeeeee
        opacity 0
    // & &__clear
    //     absolute right -40px top 0
    //     size 34px 50px
    //     font-size 18px
    //     fl(,fe,c)
    &_3
        width calc(33.333% - 10px)
        margin-left 5px
        margin-right 5px
    &_2
        width calc(50% - 10px)
        margin-left 5px
        margin-right 5px
    & &__label
        font-size f_middle
        absolute left 5px top 5px
        width calc(100% - 25px)
        padding 8px 15px 3px 10px
        display block
        border-radius 3px
        pointer-events none
        z-index 700
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
        tr(0.15)
        &_field
            width calc(100% - 15px)
            border-radius 3px 3px 0px 3px
    & &__field
        size 100% 50px
        padding 0 15px
        font-size f_medium
        border-radius 2px
        padding-top 12px
        tr(0.25, border-color)
        &_editable
            padding-right 52%
        &_password
            padding-right 50px
    &_color
        padding-right 34px
        & ^[0]__field
            padding-left 35px
    & &__textarea
        width 100%
        min-height 92px
        padding 30px 20px 12px 15px
        font-size f_medium
        max-height textarea_max-height
        overflow hidden
        border-radius 2px
        overflow-y: scroll
    &_focus
        z-index 500
        & ^[0]__color
            opacity 1
    &_plus
        & ^[0]__field
            padding-right 65px
    & &__clone
        absolute right 1px top 1px
        border-radius 2px
        size 48px
        fl(,c,c)
        font-size 16px
        cursor pointer
        tr(0.3)
    & &__remove
        absolute right 1px top 1px
        border-radius 2px
        size 48px
        fl(,c,c)
        font-size 14px
        cursor pointer
        tr(0.3)
    & &__clone-link
        font-size f_small
        display inline-block
        margin-top 8px
        &:hover
            text-decoration underline
    &_autocomplete
        z-index 110
    & &__okicon
        absolute right 15px top 18px
        font-size 14px
        line-height 1
    & &__autocomplete
        absolute left 0
        top calc(100% - 2px)
        display none
        display block
        width 100%
        border-radius 0 0 2px 2px
        &-caption
            font-size f_smart
            font-weight 600
            display block
            width 100%
            padding 7px 12px
        &-info
            font-size f_smart
            font-weight 600
            display block
            width 100%
            padding 7px 12px
            text-transform uppercase
        &-loading
            padding 15px 12px
            display block
            width 100%
            .icon
                animation rotate 1s infinite linear
        &-hidden
            padding-bottom 10px
            a
                display block
                font-size f_medium
                padding 5px 12px
    &_phone
        & ^[0]__label
            left 65px
            width calc(100% - 75px)
            background-color transparent !important
        input
            height 48px
            padding-top 12px
            padding-left 15px !important
            padding-right 15px
            width calc(100% - 60px) !important
            placeholder(transparent)
        ul
            top 48px !important
            width calc(100% + 1px) !important
            li
                margin-bottom 5px !important
                padding-left 8px !important
                strong
                    font-weight 400
        .dropdown 
            position static !important
            width 60px
            tr(0.25)
            border-radius 3px 0 0 3px
        .vue-tel-input
            display flex
            


    & &__range
        width 100%
        &-wrap
            fl(,,c)
            width 100%
        &-left
            width 60px
            text-align center
            margin-right 10px
        &-right
            width calc(100% - 70px)
    &_range
        size 100% 50px
        padding-top 10px
        fl(,,c)
        .v-popover
            width 100%
        & ^[0]__label
            width 100%
            absolute left 0 
            top -20px !important
            text-align left
            background-color transparent !important
            padding 0
            font-size 10px

        input[type='range']
            appearance none
            -webkit-appearance none
            width 100%
            overflow visible
            display block
            max-width 400px
            &:focus
                outline none
            &::-webkit-slider-runnable-track
                height 5px
            &::-webkit-slider-thumb
                appearance none
                -webkit-appearance none
                margin-top -6px
            &::-moz-range-track
                height 5px
                border-radius 10px
            &::-ms-track
                width 100%
                height 5px
                cursor pointer
                border-color transparent
                color transparent
            &::-webkit-slider-thumb
                appearance none
                -webkit-appearance none
                border 0
                size 16px
                border-radius 50%
                cursor pointer
                position relative
            &::-moz-range-thumb
                appearance none
                -webkit-appearance none
                -moz-appearance none
                border 0
                size 16px
                border-radius 50%
                cursor pointer
            &::-ms-thumb
                appearance none
                -webkit-appearance none
                border 0
                size 16px
                border-radius 50%          
                cursor pointer
                margin-top 0
            
    &_active
        & ^[0]__color
            opacity 1
        & ^[0]__label
            font-size 10px
            top 1px
            height auto
            font-weight 400
        & ^[0]__textarea
            height auto
            padding-top 30px
            min-height 92px
        & ^[0]__autocomplete
            display block
    &_disabled
        pointer-events: none
    &_ok
        & ^[0]__field
            padding-right 50px
        & ^[0]__label
            width calc(100% - 35px)


.progress
    display: block
    text-align: center
    font-size: .6rem

    progress
        display: block
        margin-top: .5rem
        appearance: none
        border: none
        font-size: 0
        width: 100%
        height: 1px
        background: transparent

    &::-webkit-progress-bar
        background: transparent


// animation hack autofill detection
@keyframes autoFillStart
    from
        opacity: 1
    to
        opacity: 1
@keyframes autoFillEnd
    from
        opacity: 1
    to
        opacity: 1
.input__field
    &:-webkit-autofill
        animation-name: autoFillStart
    &:not(:-webkit-autofill)
        animation-name: autoFillEnd

.multi-bl
    display flex
    width 100%
    flex-wrap wrap
    align-items flex-start
    & &__add
        font-size: f_small
        display: inline-block
        margin-top -5px
        margin-left 20px
        cursor pointer
        margin-bottom 10px
        vertical-align bottom
        &:hover, &:focus
            text-decoration underline
        &-block
            font-size f_smart
            text-transform uppercase
            font-weight 700
            margin-bottom 20px
            margin-left 5px
            display inline-block
            cursor pointer
            vertical-align bottom
            &:hover, &:focus
                text-decoration underline
    & &__head
        fl(w,,c)
        margin-bottom 10px
    & &__title
        display block
        font-weight 400
        font-size f_normal
        margin-right 5px
        margin-bottom 0
    & &__close
        font-size 12px
        display block
        line-height 1
    & &__has-close
      position: relative
      max-width: calc(100% - 40px)
    & &__clear
        absolute right -35px top 0
        size 34px 50px
        font-size 18px
        fl(,fe,c)
    & &__mb
        margin-bottom 10px
        width 100%
        fl(w)
    &_disabled &
        &__clear,
        &__close,
        &__add
            cursor: default
            pointer-events: none

.form-spoiler
    display block
    padding-left 44px
    position relative
    & &__title
        font-size f_middle
        color #000000
        padding-bottom 30px
        display block
        position relative
        &:before
            size 0px
            border 3px solid transparent
            border-top 4px solid #000
            display block
            absolute left -20px top 10px
            content ''
        &:hover
            text-decoration none
    & &__hidden
        padding-bottom 30px
        display none
        &.v-collapse-content-end
            display: block
    &:before
        absolute left 0 top 25px
        width 1px
        height calc(100% - 30px)
        display block
        content ''
    &:after
        size 7px
        border 2px solid
        display block
        border-radius 50%
        absolute left -4px top 5px
        content ''
    &:last-child
        &:before
            display none
    &.active
        & ^[0]__title
            &:before
                transform rotate(-90deg)
                top: 8px
                margin-left 2px


.figure-loader
    padding-left 25px
    & &__img
        size 100% 130px
        max-width 200px
        fl(w,c,c)
        box-shadow 0 0 5px rgba(0, 0, 0, 0.1)
        border-radius 2px
        position relative
        margin-bottom 20px
        img
            max-width 100%
            max-height 100%
    & &__remove
        font-size 14px
        absolute right 10px top 10px

    & &__buttons
        .btn
            display inline-block


.form-title
    font-size f_normal
    display block
    margin-bottom 10px
    margin-top 10px
    span
        margin-right 20px
    .icon
        vertical-align middle

.line-btns
    .btn
        display inline-block
        margin-right 10px
        margin-bottom 10px


@keyframes rotate
    from
        transform rotate(0deg)
    to
        transform: rotate(360deg)

@media res_tablet--lg
    .form-spoiler
        padding-left 30px
        & &__title
            &:before
                left -14px

    .figure-loader
        padding-left 0

@media res_tablet--sm
    .input
        &_3
            width calc(100% - 10px)
        &_2
            width calc(100% - 10px)

@media res_mobile--md
    .modal-form
        & &__wrap
            padding 25px 30px
        & &__title
            text-align left
            margin-bottom 25px
            padding-right 30px


@media res_mobile--sm
    .box-checker
        & &__title
            font-size 10px
        & &__price
            font-size 25px
        & &__caption
            font-size 11px
    .btn
        padding-left 25px
        padding-right 25px
