.header-notification + .frame
  min-height calc(100vh - 47px)

.frame
  fl()
  min-height 100vh
  & &__inlayout
    fl(,sb)
    &-content
      width calc(100% - 340px)
    &-aside
      width 300px
    &-block
      display block
      width 300px
      padding 15px 0px 15px 40px
      &_fixed
        fixed top 30px right 40px
        z-index 750
  & &__mobile-shadow
    display none
  & &__head
    &-rlinks
      absolute right 0 top 0
      height 50px
      fl(,fe,c)
      padding-right 15px
    &-link
      margin-left 20px
    &-callbtn
      margin-left 30px
      padding-top 12px
      padding-bottom 12px
      &:hover
        text-decoration none
  & &__title-line
    position relative
    fl(,,c)
  & &__aside
    width 260px
    min-height 100vh
    flex-shrink 0
    z-index 990   
    &-callbtn
      display none   
    &-ava
      display block
      size 50px
      absolute right 0 top 0
      overflow: hidden
      z-index 900
      &:after
          content ''
          background-image linear-gradient(to top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 50%, rgba(255,255,255,0) 100%)
          absolute left 0 top 0
          width: 100%
          height: 200%
          display block
          z-index 100
          transition: transform 150ms ease
      img, .icon-user
          size 100%
          z-index 1
          font-size 20px
          absolute left 0 top 0
          display block
      &:hover, &:active
        &:after
          transform: translateY(-50%)
    &-mtitle
      display block
      overflow hidden
      text-overflow ellipsis
      margin-bottom 0
    &-usermenu
      z-index: 1505
      margin-left: 14px
      @media res_tablet--lg-i
        display: none
      .context-menu
        &__toggler
          border-radius: 50%
          overflow: hidden
          z-index: 3
        &__dropdown
          margin-top: -50px
          margin-right: -14px
          &.toggle-context-menu
            &-enter-active
              transition: opacity 250ms ease-out 50ms, transform 180ms ease-out 50ms
    &-open
      size 64px
      position relative
      z-index 1500
      cursor pointer
      span
        size 24px 2px
        display block
        absolute left 50% top 50%
        transform translate(-50%, -50%)
        transition all 0.3s ease
        border-radius 3px
        &:before
          size 24px 2px
          display block
          absolute left 0 top -7px
          transition all 0.3s ease
          border-radius 3px
          content ""
        &:after
          size 24px 2px
          display block
          transition all 0.3s ease
          border-radius 3px
          absolute left 0 bottom -7px
          content ""
    &-title
      text(f_big, 700)
      fl(,c,c)
      padding 20px
      text-align center
      min-height 110px
      margin-bottom 0
      span
        text-overflow ellipsis
        max-width 100%
        overflow hidden
        display block
    &-hidden
      padding-bottom 10px
      display none
      &.active
        display block
    &-inlist
      fl(,,c)
      min-height 46px
      width 100%
      padding 10px 30px 10px 49px
      position relative
      tr(0.5)
    &-inlink
      fl()
      font-size f_small
      position relative
      padding-left 17px
      &:before
        opacity 0.5
        absolute left 5px top 50%
        display block
        flex-shrink 0
        size 5px 1px
        tr(0.3)
        content ""
      &:hover, &_active
        opacity 0.7
        text-decoration none
        &:before
          left 0
          width 10px
          opacity 1
    &-link
      fl(,,c)
      min-height 60px
      width 100%
      padding 10px 30px
      position relative
      opacity 0.4
      tr(0.5)
      &:before
        display block
        size 100% 0px
        absolute left 0 bottom 0
        z-index -1
        tr(0.3)
        content ''
      .icon
        size 20px 17px
        text-align center
        font-size 17px
        display block
        margin-right 15px
        tr(1.5)
      .icon-angle-bottom
        fl(w,c,c)
        margin-right: 0
        font-size 5px
        absolute right 0 top 0
        bottom 0
        size 50px auto
        &:before
          tr(0.3)
        &:after
          content ''
          display block
          absolute left 0 top 1rem
          bottom 1rem
          width 1px
          background-color currentColor
          opacity .5
      &_active
        opacity 1
        &:before
          height 100%
        .icon-angle-bottom:before
          transform scaleY(-1)
      &_sub
        pointer-events auto !important
        padding-right 50px
      &:hover
        opacity 1
        text-decoration none
    &-li
      &_active
        div
          display block !important
          height auto !important

  & &__max
    max-width 680px
  & &__right
    width calc(100% - 260px)
    position relative
  & &__header
    min-height 110px
    position relative
    &-lwrap
      width 70%
      fl(w,sb,c)
      padding-right 40px
    &-rlink
      size 42px 32px
      border-radius 16px
      border 1px solid
      fl(,c,c)
      font-size 14px
    &-top
      padding-left 40px
      min-height 50px
      width 100%
      fl(,sb,c)
    &-title
      text(f_big, 700, 1)
      margin-bottom 0
    &-line
      padding 10px 40px 15px 40px
    &-filter
      font-size 15px
      position relative
      size 32px 15px
      cursor pointer
      tr(0.3)
      .icon
        position relative
      &:after
        angle()
    &-add
      size 48px
      cursor pointer
      border-radius 50%
      tr(0.3)
      absolute right 40px top -24px
      font-size 19px
      z-index 750
      fl(,c,c)
  & &__usermenu
    min-width: 50px
    margin-left 15px
    z-index: 795
    @media res_tablet--lg
      display: none
  & &__userinfo
    fl(,fe,c)
    padding-right 55px
    height 50px
    &-link
      fl(,c,c)
      size 50px
      .icon
        size 25px
        fl(,c,c)
        font-size 16px
        tr(0.3)
        position relative
      &:hover
        text-decoration none
    
  & &__search
    fl(,,c)
    &-link
      size 20px
      display block
      cursor pointer
      margin-right 10px
      flex-shrink 0
      font-size 20px
      tr(0.3)
    &.active
      & ^[0]__search-hidden
        width 275px
    &-btn
      display none
    &-input
      width 100%
      height 26px
      font-size 16px
    &-hidden
      position relative
      tr(0.3)
      width 0
      overflow hidden
      fl(,,c)
    &-close
      size 26px
      fl(,c,c)
      tr(0.3)
      flex-shrink 0
      cursor pointer
      font-size 14px
  & &__content
    padding 30px 40px
    position relative
  & &__overlay
    fixed top left
    width 100%
    bottom 0
    z-index 901
    &.animated
      animation-duration .15s
    @media res_tablet--lg-i
      opacity 0 !important

@media res_tablet--lg-i
  .frame
    & &__usermenu
      .context-menu__overlay
        display: none


.loading-block
  position relative
  *
    pointer-events none
  &:before
    size 100%
    pointer-events auto !important
    display block
    absolute left 0 top 0
    opacity 0.75
    z-index 700
    content ''
  &:after
    padding 0 32px 0 52px
    box-shadow 3px 4px 20px rgba(0, 0, 0, 0.2)
    border-radius 15px
    height 30px
    background-color rgba(0,0,0,0.4)
    fl(,c,c)
    color #fff
    line-height 1
    text-align center
    z-index 701
    white-space nowrap
    max-width 200px
    overflow hidden
    text-overflow ellipsis
    absolute left 50% top 10%
    transform translateX(-50%)
    bg('images/loading.svg', left 30px center)
    content attr(data-loading)

.loading-inline
  cursor default
  @extend .loading-block
  text-indent -9999px
  &:before
    opacity 0.4
  &:after
    text-indent 0
    box-shadow none
    border-radius 0
    padding 0 0 0 20px
    background none
    height 100%
    absolute left 50% top 0
    bg('images/loading.svg', left center)

.loading-show
  position relative
  &:after
    padding 0 32px 0 52px
    box-shadow 3px 4px 20px rgba(0, 0, 0, 0.2)
    border-radius 15px
    height 30px
    background-color rgba(0,0,0,0.4)
    fl(,c,c)
    color #fff
    line-height 1
    text-align center
    z-index 701
    absolute left 50% bottom -15px
    transform translateX(-50%)
    bg('images/loading.svg', left 30px center)
    content attr(data-loading)


@media res_desktop--lg
  .frame
    & &__inlayout
      &-content
        width calc(100% - 280px)
      &-aside
        width 250px
      &-block
        padding-left 30px
        width 250px


@media res_desktop--lg
  .frame
    & &__inlayout
      flex-wrap wrap
      &-content
        width 100%
        order 2
      &-aside
        width 100%
        order 1
        
      &-block
        padding-left 0px
        width 100%
        border 0 !important
        position static !important
        margin-bottom 30px

@media res_desktop--sm
  .frame
    & &__aside
      width 210px
      &-title
        padding-left 15px
        padding-right 15px
        font-size f_big_1000
        min-height 100px
      &-link
        padding-left 15px
        padding-right 15px
        min-height 50px
    & &__right
      width calc(100% - 210px)
    & &__content
      padding 30px 20px
    & &__header
      min-height 100px
      &-line
        padding-left 20px
        padding-right 20px
      &-top
        padding-left 20px
      &-title
        font-size f_big_1000
      &-add
        right 20px

@media res_tablet--lg

  body.js-nav-overflow
    overflow hidden !important

  .frame
    & &__right
      width 100%
      padding-top 64px
    & &__head
      &-rlinks
        position static
        flex-wrap wrap
        width 100%
        padding 20px 0 0 0
      &-callbtn
        display none
      &-link
        text-align left
        display block
        padding 10px 40px
        margin 0
        width 100%
        &:hover
          text-decoration none
    & &__mobile-shadow
      fixed top 0 left 0
      width 100%
      height 100vh
      z-index 1050
      display none
      &.active
        display block
    & &__aside
      width auto
      box-shadow none
      position static
      z-index auto
      &-callbtn
        display block
        margin-right 15px
        padding-left 25px
        padding-right 25px
        min-width 1px
        white-space nowrap
      &-ava
        border-radius 50%
        margin-top 11px
        size 42px
  
        margin-right 10px
      &-close
        font-size 17px
        display block
        margin-right 36px
      &-mhead
        height 64px
        fl(,,c)
        padding-left 20px
        padding-right 20px
        font-size f_middle
        white-space nowrap
        text-overflow ellipsis
      &-nav
        fixed top 0px left -270px
        width 270px
        height 100vh
        display flex
        z-index 1100
        justify-content space-between
        flex-direction column
        opacity 0
        transition left 0.3s ease, opacity 0.2s ease
        &.active
          left 0
          opacity 1
        &-wrap
          overflow auto
          absolute left 0 top 64px
          height calc(100% - 64px)
          width 100%
          padding-bottom 100px
      &-title
        min-height 60px
        background-color transparent
        padding-left 10px
        padding-right 10px
        text-align center
        font-weight 400
        font-size f_middle
        display block
        width calc(100% - 128px)
        span
          white-space nowrap
      &-link
        padding-left 40px
        padding-right 40px
        .icon-angle-bottom
          right 10px
      &-line
        fl(,,c)
        fixed top 0 left 0
        size 100% 64px
        z-index 900
        tr(0.1)
        &_top
          top -64px
          box-sahdow none
        &_fixed
          top 0
    & &__userinfo
      padding-right 0
      




@media res_tablet--sm
  .frame
    & &__content
      padding-top 25px
      padding-bottom 90px
    & &__search
      display none
    & &__header
      min-height 1px
      &-lwrap
        width 100%
        padding-right 0
      &-top
        min-height 1px
      &-line
        padding-top 20px
        padding-bottom 20px
        fl(,sb,c)
      &-add
        fixed left 0 bottom 7px right 0 
        top auto
        margin auto
        z-index 901

    & &__userinfo
      fixed bottom 0 left 0
      z-index 900
      fl(,,c)
      size 100% 60px
      padding-top 5px
      padding-bottom 5px
      padding-left 12%
      padding-right 12%
      justify-content space-around
      // &-ava
      //   display none
      &-hidden
        display none !important
      &-link
        width 50%
        &:first-child
          padding-right 30px
        &:last-child
          padding-left 30px
      &_twolinks
        padding 0 !important
        a
          border-right 1px solid
          width 50%
          text-align center
          &:nth-child(2)
            border-right 0 !important

@media res_mobile--md
  .frame
    & &__title-line
      flex-wrap wrap
      .head-context
        margin-left 0
        margin-top 15px
      & ^[0]__header-title
        width 100%

@media res_mobile--sm
  .frame
    & &__content
      padding-left 10px
      padding-right 10px
    & &__aside
      &-title
        text-align left
        width calc(100% - 128px)
