.int-table
    width 100%
    font-size f_normal
    & &__footer
        fl(w,sb,c)
        width 100%
        padding 10px 20px
        &-left
            padding 10px
        &-right
            padding 10px
    & &__flink
        font-size f_normal
    & &__header
        fl(w,sa,c)
        min-height 80px
        padding 15px 0
    & &__clist
        display block
        margin-top 3px
        margin-left 45px
        li
            margin-bottom 5px
    & &__count
        font-size f_middle
        padding 0 15px
    & &__nowrap
        white-space nowrap
    & &__link, a
        display inline-block
        margin-bottom 3px
        &:hover
            text-decoration underline
    & a.int-table__show:hover
        text-decoration none !important
    & &__caption
        display block
        margin-bottom 3px
    & &__show
        display none
        font-size 16px
        size 60px
        &:hover
            text-decoration none !important
    & &__right
        text-align right
    & &__table
        width 100%
        font-size f_normal
        cursor pointer
        th
            font-weight 400
            text-align left
            font-size f_normal
            padding 17px 15px
            &^[0]__right
                text-align right
            &:first-child
                padding-left 30px
        td
            padding 12px 15px
            &:first-child
                padding-left 30px
        tr
            &:hover
                & ^[0]__controll
                    opacity 1
                    pointer-events auto
            &:last-child
                td
                    border-bottom 0
    & &__ava
        size 36px
        border-radius 50%
        overflow hidden
        display block
        &:hover
            opacity 0.5
    & &__status
        border-radius 12px
        font-size 9px
        fl(,c,c)
        padding 4px 10px
        text-transform uppercase
        white-space nowrap
        min-width 110px
        &_smart
            min-width 90px
        .icon
            font-size 12px
            padding-right 5px
            padding-left 5px
            margin-top 1px
        &_one
            .icon
                padding-left 0
        &-icon
            font-size 12px
            margin-right 10px
        &-wrap
            fl(,,c)
    & &__hidden
        display none
        &:hover
            background-color transparent !important
    & &__inline-rtd
        position relative
        width 100%
        padding-right 50px
        min-height 30px
        padding-top 15px
        fl(w,,c)
    & &__inr-cell
        display block
        margin-right 30px
        margin-bottom 15px
        &_full
            width 100%
            margin-right 0
        &:last-child
            margin-right 0
    & &__controll
        size 30px
        fl(,c,c)
        position relative
        cursor pointer
        opacity 0
        tr(0.3)
        pointer-events none
        &_sr
            opacity 1 !important
            absolute right 0 top 50%
            margin-top -15px
        .icon-dots
            font-size 3px
        // .overflow-window
        //     absolute right 0 top 100%
        //     display none
        //     text-align left
        &.active
            opacity 1
            pointer-events auto
            // .overflow-window
            //     display block
        &-tab
            text-align center
            width 70px
            &.active
                .icon
                    transform scaleY(-1)
                    margin-top -4px
            &_big
                width 60px
                & ^[0]__show
                    width 60px
    & &__stab
        fl()
        padding-right 60px
        position relative
        padding-top 10px
        padding-bottom 5px
        // .overflow-window
        //     absolute left -15px top -10px
        //     width calc(100% + 24px)
        //     max-width calc(100% + 24px)
        //     display none
        &-left
            width 65%
            fl(w)
        &-right
            width 35%
            display none
        &-text
            display block
            font-size f_normal
            margin-bottom 10px
            text-align right
            margin-right 15px
        & ^[0]__ava
            margin-bottom 10px
        & ^[0]__controll
            absolute right 2px top 50%
            margin-top -15px
            opacity 1 !important
            pointer-events auto !important
            // &:hover
            //     .overflow-window
            //         display none
        &-bl
            margin-bottom 10px
            margin-right 30px
            &:last-child
                margin-bottom 0
                margin-right 0
        &-inline
            display inline-block
            margin-right 20px
            margin-bottom 10px
            &:last-child
                margin-right 0
    & &__center
        text-align center !important
    & &__drag-icon
        text-align center
        .icon
            display none
            text-align center
            font-size f_normal
            cursor pointer
    & &__block
        &:hover
            & ^[0]__drag-icon
                .icon
                    display block
                span
                    display none

    .context-menu
      // display: flex

      &__toggler
        opacity: 0
        // width: 100%

        // &-default
        //   padding: 12px
        //   width: 100%

      // &__dropdown
      //   left: 12px
      //   top: calc(100% - 10px)
      //
      // &.is-right-side
      //   .context-menu__dropdown
      //     right: 12px

      &.is-opened
        .context-menu__toggler
          opacity: 1

    &__block:hover
      .context-menu__toggler
        opacity: 1


@media res_desktop--lg
    .int-table

        & &__footer
            padding-left 0
            padding-right 0
        & &__table
            th
                padding 15px 10px
                &:first-child
                    padding-left 15px
            td
                padding 12px 10px
                &:first-child
                    padding-left 15px
        & &__controll
            &-tab
                width 40px

@media res_desktop--md
    .int-table
        & &__show
            fl(,c,c)
        & .active + &__hidden
            display table-row
        & &__controll
            &-tab
                width 50px
                flex-shrink 0
                text-align center
                padding 0 !important
                & ^[0]__controll
                    display none
                &_big
                    width 60px
        & &__block
            &.active
                td
                    border-bottom 0

@media res_tablet--sm
    .int-table
        & &__table
            th
                font-size f_small

@media res_mobile--lg
    .int-table
        thead
            display none
        & &__header
            border 0px !important
            padding 0 5px
            margin-bottom 10px
        & &__count
            width 100%
            margin-bottom 20px
            fl()
            font-size f_medium
            span
                width 50%
                display block
        & &__hidden
            td
                padding-top 10px
                padding-bottom 10px
        & &__stab
            &-right
                fl(w,fe,c)
            &-text
                margin-right 0
                width 100%
            & ^[0]__controll
                top auto
                bottom 18px
            &-bl
                margin-right 0
                width 100%
