$modal-width = 600px
$z-index-modal = 100
$modal-padding = 20px

.modal
    z-index: $z-index-modal
    fixed top 0 left 0
    size 100%
    padding $modal-padding
    overflow: auto
    background-color var(--ui-modalcolor)
    & &__dialog
        box-sizing: border-box
        max-width $modal-width
        width 100%
        padding $modal-padding
        margin: auto
        position: relative
        background-color var(--ui-bgcolor)
    & &__header
        position: relative
        padding-right 50px
        box-sizing: border-box
    & &__close
        absolute right 0 top 0
    &_fullscreen
        overflow: hidden
        & ^[0]__dialog
            fixed top 0 left 0
            max-width 100%
            size 100%
            overflow: auto
        & ^[0]__content
            padding 0 $modal-padding $modal-padding $modal-padding
        & ^[0]__header
            width 100%
            padding 0 50px 0 $modal-padding
