.body-overflow-hidden
    overflow: hidden

.awes-app

    a
        color var(--link-color)
        text-decoration none
        transition: color $base-transition

        &:hover,
        &:focus
            color var(--link-color-hover)

        &:hover
            text-decoration underline


    modal-window, notifications, slide-up-down
        display none
