extends includes/layout.pug

block pageVariables
    - var pageTitle = "AVATARS"

block pageHead
    // there is can be head meta or sctipts


block pageContent
    
    .avatars-list.mb-20.mr-20
        img(src="https://picsum.photos/36", alt="")
        img(src="https://picsum.photos/36", alt="")
        img(src="https://picsum.photos/36", alt="")
        img(src="https://picsum.photos/36", alt="")
        img(src="https://picsum.photos/36", alt="")
        i.icon.icon-user
    
    .avatars-list.mb-20.mr-20
        a(href="")
            img(src="https://picsum.photos/36", alt="")
        a(href="")
            img(src="https://picsum.photos/36", alt="")
        a(href="")
            img(src="https://picsum.photos/36", alt="")
        a(href="")
            img(src="https://picsum.photos/36", alt="")
        a(href="")
            img(src="https://picsum.photos/36", alt="")
        a(href="")
            i.icon.icon-user

    .avatars-list.avatars-list_border-page.mb-20.mr-20
        button
            img(src="https://picsum.photos/36", alt="")
        button
            img(src="https://picsum.photos/36", alt="")
        button
            img(src="https://picsum.photos/36", alt="")
        button
            img(src="https://picsum.photos/36", alt="")
        button
            img(src="https://picsum.photos/36", alt="")
        button
            i.icon.icon-user

    .card
        .avatars-list.avatars-list_border-ui
            button
                img(src="https://picsum.photos/36", alt="")
            button
                img(src="https://picsum.photos/36", alt="")
            button
                img(src="https://picsum.photos/36", alt="")
            button
                img(src="https://picsum.photos/36", alt="")
            button
                img(src="https://picsum.photos/36", alt="")
            button
                i.icon.icon-user

