extends includes/layout

block pageVariables
    - var pageTitle = "Показ фильтров"

block pageHead
    // there is can be head meta or sctipts
    

block pageContent
    p(align='center')
    img(src='https://www.awes.io/images/platform/3.svg', width='33%')
    h1#What_is_AwesIO
        a.page-map-anchor(href='#What_is_AwesIO') H1 title preview
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic rerum distinctio vero vel similique veritatis, libero ipsum amet praesentium ducimus deleniti nulla fuga voluptate maxime maiores corporis recusandae iste!

    h2#What_is_AwesIO
        a.page-map-anchor(href='#What_is_AwesIO') H2 title preview
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic rerum distinctio vero vel similique veritatis, libero ipsum amet praesentium ducimus deleniti nulla fuga voluptate maxime maiores corporis recusandae iste!
    
    h3#Technologies
        a.page-map-anchor(href='#Technologies') H3 title preview
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic rerum distinctio vero vel similique veritatis, libero ipsum amet praesentium ducimus deleniti nulla fuga voluptate maxime maiores corporis recusandae iste!
    
    h4#Technologies
        a.page-map-anchor(href='#Technologies') H4 title preview
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic rerum distinctio vero vel similique veritatis, libero ipsum amet praesentium ducimus deleniti nulla fuga voluptate maxime maiores corporis recusandae iste!
    
    h5#Technologies
        a.page-map-anchor(href='#Technologies') H5 title preview
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi hic rerum distinctio vero vel similique veritatis, libero ipsum amet praesentium ducimus deleniti nulla fuga voluptate maxime maiores corporis recusandae iste!
    
    