extends includes/layout

block pageVariables
    - var pageTitle = "Charts example"

block modules
    script(src="https://cdn.pkgkit.com/5cd207e2c94eb723c3307764a5693def/awes-io/tab-builder/v1.x.x/js/main.js")
    script(src="https://cdn.pkgkit.com/5cd207e2c94eb723c3307764a5693def/awes-io/charts/v1.x.x/js/main.js")

block pageContent
    filter-builder(label="Chart 1" :param="{chart: 0}")
    filter-builder(label="Chart 2" :param="{chart: 1}")
    filter-builder(label="Chart 3" :param="{chart: 2}")
    filter-builder(label="Error" :param="{chart: '-error'}")
    content-wrapper(store-data="charts" :url="`/json/chart${$get($route, 'query.chart', 0)}.json`")
        template(slot-scope="chartData")
            chart-builder(style="width:600px; height:400px" :data="chartData", :options="{elements:{line:{tension:0},point:{radius:0}},legend:{display:false},scales:{xAxes:[{display:false}],yAxes:[{display:false,ticks:{beginAtZero:true}}]}}")
