extends includes/layout.pug

block pageVariables
    - var pageTitle = "Content wrapper"

block pageHead
    // there is can be head meta or sctipts


block pageContent

    content-wrapper(:default='{"email":"soberbrunner@example.org", "pagetitle": "This example content wrapper"}' store-data="content")
        template(slot-scope="props")
            h1 {{ $get(props, 'pagetitle') }}
            p You can look on this email <b>{{ $get(props, 'email') }}</b>, what parsing from data
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro obcaecati expedita molestias non quos ut eos reprehenderit, eligendi voluptate quam eaque, illum neque cum quasi dolorum! Dolore officiis molestias ad.
            h2 With styles all okay