

extends includes/layout

block pageVariables
    - var pageTitle = "Показ фильтров"

block pageHead
    // there is can be head meta or sctipts
    


block pageContent

    button.frame__header-add
        i.icon.icon-plus
    .filter
        .filter__left
            .filter__checkbox
                .filter__checkbox-cell.filter__checkbox-cell_active
                    .filter__checkbox-label Active layer rrc +
                .filter__checkbox-cell
                    .filter__checkbox-label All plus one -

            .filter__checkbox
                .filter__checkbox-cell.filter__checkbox-cell_active
                    .filter__checkbox-label Active layer rrc +
                .filter__checkbox-cell
                    .filter__checkbox-label All plus one -
            
            .filter__checkbox
                .filter__checkbox-cell.filter__checkbox-cell_active
                    .filter__checkbox-label Active layer rrc +
                .filter__checkbox-cell
                    .filter__checkbox-label All plus one -
        .filter__right
            .filter__rlink.context-menu.is-right-side
                button.context-menu__toggler.filter__slink(aria-haspopup='true')
                    span Sort by
                .context-menu__dropdown(aria-expanded='false', style='display: none;')
                    ul.context-menu__list
                        li.cm-item
                            button.cm-item__button.is-active ID
                        li.cm-item
                            button.cm-item__button Email
            .filter__rlink
                button.filter__slink
                    // 
                    | Filter
    .slide-up-down(style='overflow: hidden;')
        form.form-builder.form-builder_filter(action='/', method='post')
            .grid.grid_forms
                .grid__cell
                    .fb-input
                        .v-popover.display-block
                            span.trigger(aria-describedby='popover_xtl006uldc', tabindex='-1', style='display: inline-block;')
                                label.fb-input__label.fb-input__label_field(for='#input-0') Text
                                input#input-0.fb-input__field.is-focusable(data-awes='fb-input.text', spellcheck='false', type='text')
                   
                .grid__cell
                    .fb-select
                        span.fb-select__label Array
                        .multiselect.fb-select__field(tabindex='-1')
                            .multiselect__select
                            .multiselect__tags
                                .multiselect__tags-wrap(style='display: none;')
                                // 
                                .multiselect__spinner(style='display: none;')
                                input.multiselect__input(name='', type='text', autocomplete='off', placeholder='Pick a value', tabindex='0', style='display: none;')
                                // 
                                span
                                    span.multiselect__single
                                        | Pick a value
                            .multiselect__content-wrapper(style='max-height: 300px; display: none;')
                                ul.multiselect__content(style='display: inline-block;')
                                    // 
                                    li.multiselect__element
                                        span.multiselect__option.multiselect__option--highlight(data-select='', data-selected='', data-deselect='')
                                            span Option 1
                                        // 
                                    li.multiselect__element
                                        span.multiselect__option(data-select='', data-selected='', data-deselect='')
                                            span Option 2
                                        // 
                                    li(style='display: none;')
                                        span.multiselect__option No elements found. Consider changing the search query.
            div
                .line-btns
                    button.btn.btn-send.waves-effect.waves-button(disabled='disabled', data-loading='Loading...', type='submit', data-awes='modal_button_ok')
                        | Apply 
                        span.g-res--tablet-lg_n (ctrl+enter)
                    // 
                    button.btn.btn_transparent.form-builder__reset(type='reset')
                        i.icon.icon-circle-cross
                        |         Reset
    .tf-centerblock
        .tf-centerblock__cell
            .tf-infoblock.tf-infoblock_center.tf-infoblock_smart
                p You do not have projects Want to create the first one?
    // 
    button.frame__header-add
        i.icon.icon-plus
    // 
