extends includes/layout.pug

block pageVariables
    - var pageTitle = "Placeholder Test"

block pageHead
    // there is can be head meta or sctipts
    script(src="https://storage.awes.io/680a7d07f89b94e7fc83be657a2daa27/awes-io/modal/v0.x.x/js/main.js" type="module")
    script(src="https://storage.awes.io/680a7d07f89b94e7fc83be657a2daa27/awes-io/form-builder/v0.1.18/js/main.js" type="module")



block pageContent
    p Новые формы
    form-builder(url="http://httpbin.org/post" disabled-dialog)
        fb-select(name="valera22" cell="2" label="Yosip ishchet lojku")
        fb-phone(name="phone" cell="2")
        fb-editor(name="editor")

        fb-uploader(name="files" url="http://httpbin.org/post" format="mp4, docx" size="15")
        fb-slider(name="range" label="Krutoy label, prosto ogon sredi genadiev" cell="2")
        fb-input(name="valera22" label="Oh Valera kuda tenya zaneslo" cell="2" disabled)
        fb-input(name="valera22" label="Yosip ishchet lojku" cell="2")
        fb-select(name="valera22" label="Yosip ishchet lojku" cell="2")
        fb-input(name="valera22" label="Oh Valera kuda tenya zaneslo" cell="2" disabled)
        fb-input(name="valera22" label="Oh Valera kuda tenya zaneslo" cell="2" disabled)
        fb-input(name="valera22" label="Oh Valera kuda tenya zaneslo" cell="2" disabled)
        fb-input(name="valera22" label="Oh Valera kuda tenya zaneslo" cell="2" disabled)
