extends includes/layout.pug

block pageVariables
    - var pageTitle = "Placeholder Test"

block pageHead
    // there is can be head meta or sctipts



block pageContent
    p Новые формы
    form-builder(url="http://httpbin.org/post" disabled-dialog)

        p All form elements has mod <code>blockname_error</code>, <code>blockname_ok</code>, <code>blockname_disabled</code>


        h4 текст
        fb-input(name="awdaw12312312" label="Input field"  autocomplete="off")
        fb-select(name="awdawd123qw" :multiple="false"  :select-options="[{name:'one', value: 1}, {name:'two', value: 2}]")
        fb-select(name="select2"  label="Yosip ishchet lojku" :multiple="true" :select-options="[{name:'one', value: 1}, {name:'two', value: 2}]")
        fb-phone(name="asd123123asd" label="Phone label" )
        fb-input(name="awdaw1231222312" label="Label test long label" )
        fb-company-slug(label="Slug default" name="slug221"  domain="very very long link awescrm.de")

        <p>Сайт рыбатекст <a href="#re">consectetur adipisicing elit</a>поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

        h4 Switcher
        fb-switcher(label="switcher" name="switcher1" )
        fb-switcher(label="switcher" disabled name="switcher2" )
        fb-switcher.fb-switcher_error(label="switcher" name="switcher3" )
        fb-switcher.fb-switcher_ok(label="switcher" name="switcher4" )

        br
        br

        h4 Select
        fb-select(name="select1"  label="Single select" :multiple="false" :select-options="[{name:'one', value: 1}, {name:'two', value: 2}]")
        fb-select(name="select2"  label="Multiple select" :multiple="true" :select-options="[{name:'one', value: 1}, {name:'two', value: 2}]")
        fb-select(name="select3" class="fb-select_ok" disabled  label="OK select" :multiple="false" :select-options="[{name:'one', value: 1}, {name:'two', value: 2}]")
        fb-select(name="select4" class="fb-select_error" disabled  label="Error select" :multiple="true" :select-options="[{name:'one', value: 1}, {name:'two', value: 2}]")

        br
        br
        h4 Phone input
        fb-phone(name="phone1" disabled label="Phone label" )
        fb-phone(name="phone2" label="Phone label" )
        fb-phone(name="phone3" class="fb-phone_ok" label="Phone ok" )
        fb-phone(name="phone4" class="fb-phone_error" label="Phone error" )

        br
        br
        h4 MCE Editor
        fb-editor(name="editor1")
        fb-editor(name="editor2" disabled)
        fb-editor(name="editor3"  class="fb-editor_ok")
        fb-editor(name="editor4"  class="fb-editor_error")

        br
        br
        h4 Textarea
        fb-textarea(name="ed1"  label="Textarea label")
        fb-textarea(name="ed2"  label="Textarea disabled" disabled)
        fb-textarea(name="ed3"  label="Textarea error" class="fb-textarea_error")
        fb-textarea(name="ed4"  label="Textarea ok" class="fb-textarea_ok")

        br
        br
        h4 Uploader
        fb-uploader(name="files1" url="http://httpbin.org/post" format="docx" size="15")
        fb-uploader(name="files2" url="http://httpbin.org/post" format="docx" size="15" disabled)
        fb-uploader(name="files3" url="http://httpbin.org/post" class="fb-uploader_ok" format="docx" size="15")
        fb-uploader(name="files4" url="http://httpbin.org/post" class="fb-uploader_error" format="docx" size="15")

        br
        br
        h4 Range Slider
        fb-slider(name="range1" label="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat iure perspiciatis corporis nesciunt inventore, eius quos maiores sit, ipsa neque quas harum maxime. Sunt a nobis excepturi accusamus assumenda necessitatibus?" )
        fb-slider(name="range2" label="Disabled"  disabled)
        fb-slider(name="range3" label="Slider error" class="fb-slider_error" )
        fb-slider(name="range4" label="Slider Ok" class="fb-slider_ok" )

        br
        br
        h4 Input example
        fb-input(name="input1" label="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore id minima facilis voluptate vitae magnam rem beatae corporis, explicabo eveniet molestias quibusdam accusantium voluptatum accusamus eius officiis! Amet, fugiat ad?"  disabled)
        fb-input(name="input2" label="Default label" )
        fb-input(name="input3" class="fb-input_ok" label="Input ok" )
        fb-input(name="input4" class="fb-input_error" label="Input error"  )

        br
        br
        h4 Checkbox example
        fb-checkbox(name="checkbox1"  label="default checkbox")
        fb-checkbox(name="checkbox2"  label="disabled checkbox" disabled)
        fb-checkbox.fb-checkbox_ok(name="checkbox3"  label="checkbox ok")
        fb-checkbox.fb-checkbox_error(name="checkbox4"  label="checkbox error")

        br
        br
        h4 Code example
        fb-code(name="code1")
        fb-code(disabled name="code2")
        fb-code.fb-keycode_ok(name="code3")
        fb-code.fb-keycode_error(name="code4")

        br
        br
        h4 Company Slug
        fb-input(label="Company name" name="company1")
        fb-company-slug(label="Slug default" name="slug1" input="company1" domain="very very long link awescrm.de")
        fb-company-slug(label="Slug disabled" disabled name="slug2" input="company1" domain="awescrm.de" )
        fb-company-slug.fb-slug_ok(label="Slug ok" name="slug3" input="company1" domain="local.awescrm.de" )
        fb-company-slug.fb-slug_error(label="Slug error" name="slug4" input="company1" domain="dev.awescrm.de" )

        br
        br
        h4 Radio Group
        fb-radio-group(name="radio1"  label="radio" :items="[{name:'one', value: 1}, {name:'two', value: 2}, {name:'three', value: 3}]")
        fb-radio-group(name="radio2"  disabled label="radio disabled" :items="[{name:'one', value: 1}, {name:'two', value: 2}, {name:'three', value: 3}]")
        fb-radio-group.fc-radio_ok(name="radio1"  label="radio ok" :items="[{name:'one', value: 1}, {name:'two', value: 2}, {name:'three', value: 3}]")
        fb-radio-group.fc-radio_error(name="radio2"  label="radio error" :items="[{name:'one', value: 1}, {name:'two', value: 2}, {name:'three', value: 3}]")


        br
        br
        h4 Multiblock
        fb-multi-block(name="multi1")
            template(slot-scope="mb")
                fb-input(name="input22" label="multi-block" :id="mb.id" )
                fb-input(name="input33" label="multi-block" :id="mb.id" )
                fb-textarea(name="text11" label="multi block" :id="mb.id")
        br
        br
        h4 Multiblock disabled
        fb-multi-block(name="multi2" disabled)
            template(slot-scope="mb")
                fb-input(name="input" label="multi-block" :id="mb.id")


