extends includes/layout.pug

block pageVariables
    - var pageTitle = "INLINE LIST"

block pageHead
    // there is can be head meta or sctipts


block pageContent

    ul.inline-list
        li
            a.btn(href="")  BTN
        li
            a.btn(href="")  BTN
        li
            a.btn(href="")  BTN
        li
            a.btn(href="")  BTN
        li
            a.btn(href="")  BTN
    
    .card.mb-25
        ul.inline-list.inline-list_nogap
            li
                a.btn(href="")  BTN
            li
                a.btn(href="")  BTN
            li
                a.btn(href="")  BTN
            li
                a.btn(href="")  BTN
            li
                a.btn(href="")  BTN

        ul.inline-list.inline-list_gapx
            li
                a.btn(href="")  BTN
            li
                a.btn(href="")  BTN
            li
                a.btn(href="")  BTN
            li
                a.btn(href="")  BTN
            li
                a.btn(href="")  BTN
    
    ul.inline-list.inline-list_gap
        li
            a.btn(href="")  BTN
        li
            a.btn(href="")  BTN
        li
            a.btn(href="")  BTN
        li
            a.btn(href="")  BTN
        li
            a.btn(href="")  BTN