extends includes/login_2.pug

block pageVariables
    - var pageTitle = "Сreate a password"
    - var pageAsideBg = "https://www.spirit-of-metal.com/les%20goupes/L/Lacuna%20Coil/pics/f9c9_2.jpg"
    - var stepNumber = 3

block pageHead
    // there is can be head meta or sctipts

block pageContent
    .login-page__form.login-page__form_btn-marg
        form-builder(url='https://www.awescrm.cloud/register', :default="{'email':'ohvalerachtostoboy@gmail.com'}", btntext='Next')
            fb-input(name='email', type='email', label='E-Mail', style='display:none', focus='')
            fb-input(name='password', type='password', label='Password', focus='')
            fb-input(name='password_confirmation', type='password', label='Confirm Password')
    .tf-centerlink.tf-centerlink_afterframe
        a.tf-hyplink(href='') back
