extends includes/login_2.pug

block pageVariables
    - var pageTitle = "Register"
    - var pageAsideBg = "https://www.spirit-of-metal.com/les%20goupes/L/Lacuna%20Coil/pics/f9c9_2.jpg"
    - var stepNumber = 1
    

block pageHead
    // there is can be head meta or sctipts
    include includes/frames/pkgkitstyle

block pageContent

    .login-page__form
        form-builder(url='https://www.awescrm.cloud/register', :default="{'email':''}", btntext='Next')
            fb-input(name='email', type='email', label='E-Mail', focus='')
            .login-page__ins
                fb-checkbox(name='agree', label='Agree', cell='1')
    .tf-centerlink
        a(href='https://www.awescrm.cloud/login') Back to login page
    span.login-page__spacer
        i or register with a social network
    .login-page__socials
        a.icon.icon-fb(href='https://www.awescrm.cloud/login/facebook')
        a.icon.icon-in(href='https://www.awescrm.cloud/login/linkedin')
        a.icon.icon-gp(href='https://www.awescrm.cloud/login/google')
