extends includes/layout.pug

block pageVariables
  - var pageTitle = "Typography"
  - var asideFalse = true

block pageHead
  // there is can be head meta or sctipts


block pageContent
  h1 Lorem ipsum dolor sit amet.
  h2 Lorem ipsum dolor sit amet.
  h3 Lorem ipsum dolor sit amet.
  h4 Lorem ipsum dolor sit amet.
  h5 Lorem ipsum dolor sit amet.

  pre
    code.html.
      The &lt;div class="Valera"&gt; tag &lt;/div&gt;

  h1 Lorem ipsum dolor sit amet.
  p Lorem ipsum dolor sit amet, <u>consectetur adipisicing elit</u>. Ab expedita, <s>asperiores ipsum itaque amet</s> iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque.
  h2 Lorem ipsum dolor sit amet. 
  p Lorem ipsum <b>dolor sit amet</b>, consectetur <strong>adipisicing elit</strong>. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque.
  h3 Lorem ipsum dolor sit amet.
  p Lorem ipsum dolor sit amet, <a href="">consectetur adipisicing elit</a>. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque.
  h4 Lorem ipsum dolor sit amet.
  p Lorem ipsum dolor sit amet, <mark>&lt;consectetur adipisicing elit&gt;</mark>. Ab expedita, <mark class="tf-blcode">&lt;consectetur adipisicing elit&gt;</mark>asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque.
  h5 Lorem ipsum dolor sit amet.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab expedita, asperiores ipsum itaque amet iure deserunt minima dolorum, aut et assumenda quaerat odit quibusdam molestias saepe cumque veritatis rem doloremque.
  blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis nisi quisquam reiciendis natus tempore soluta nostrum quaerat, neque atque quos. Libero eveniet, ipsam illo nihil assumenda itaque quos nemo dolorum!
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse libero nam culpa voluptate quo accusamus aut in atque dolore, ipsa molestias dolorem corrupti placeat nihil. Officia, necessitatibus. Ipsum, iusto! Temporibus!
  .md-table
    table
      tr
        th Thead 1
        th Thead 2
        th Thead 3
        th Thead 4
        th Thead 5
      tr
        td td 1
        td td 2
        td td 3
        td td 4
        td td 5
      tr
        td td 1
        td td 2
        td td 3
        td td 4
        td td 5
      tr
        td td 1
        td td 2
        td td 3
        td td 4
        td td 5
      tr
        td td 1
        td td 2
        td td 3
        td td 4
        td td 5
      tr
        td td 1
        td td 2
        td td 3
        td td 4
        td td 5

  h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam nobis libero, at eligendi nihil officia temporibus quisquam quae iusto quasi maxime repellendus accusamus sed quia amet natus, fuga voluptate.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla illo quasi non, tempore quisquam dolorem. Aliquid commodi laborum neque labore animi illo! Natus veniam accusamus delectus sed maxime numquam sit? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum iste ex repellendus iusto. Itaque, sapiente quod explicabo nesciunt sed accusamus quasi? Voluptate assumenda ullam tenetur atque? Quidem quia officia voluptatibus.

  ul
    li lorem
    li lorem
      ul
        li lotem
        li lotem
        li lotem
        li lotem
        li lotem
    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatem nam, aut suscipit explicabo facilis! Explicabo iste accusantium non harum! Repellendus reiciendis aut odit, cumque iusto autem error tempora provident.
    li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta eos modi in doloremque at deserunt totam possimus minus illo veniam rem, quod hic quas vitae quo odio alias delectus quaerat.
    li lorem

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint neque iste molestiae quod adipisci expedita rerum reprehenderit consequuntur cumque ad iure blanditiis deserunt ipsam nemo dolore, voluptatibus vitae dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum officiis aliquid, temporibus rerum deserunt suscipit delectus illum, sequi, omnis deleniti ducimus! Quidem nihil velit veniam distinctio officia delectus amet aliquid!


  ol
    li lorem
    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad doloremque in, quis, aperiam ullam animi nobis quisquam error quas magnam eos accusantium tempore eius expedita, et sequi soluta facilis?  
    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt alias quo, magni nihil molestiae, odio possimus reprehenderit nam nisi amet sed at nemo dignissimos? Est sint sequi ad ipsum itaque.
    li lorem
    li lorem
    li lorem
    li lorem
      ul
        li lorem
        li lorem
          ul
            li lotem
            li lotem
            li lotem
            li lotem
            li lotem
        li lorem
        li lorem
        li lorem
        li lorem
    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatem nam, aut suscipit explicabo facilis! Explicabo iste accusantium non harum! Repellendus reiciendis aut odit, cumque iusto autem error tempora provident.
    li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta eos modi in doloremque at deserunt totam possimus minus illo veniam rem, quod hic quas vitae quo odio alias delectus quaerat.
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem
    li lorem

  h4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, numquam. Cupiditate, deleniti culpa obcaecati consequuntur adipisci maxime nesciunt accusamus at assumenda natus id nam voluptas sunt commodi qui, deserunt magni.
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis aperiam nemo veniam excepturi dolores, possimus voluptatem rerum consequuntur inventore odit eaque cupiditate, incidunt ratione mollitia exercitationem sapiente quae laborum tempora? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ducimus beatae minima, iure a molestias repellendus distinctio recusandae alias voluptatem, iste consequatur sint expedita corporis cupiditate ad delectus, natus magni! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio expedita a et labore, magnam tempora voluptatibus aliquid blanditiis rerum mollitia odio voluptates dolorem delectus, voluptatem incidunt iusto ab suscipit molestias!

  dl
    dt Caption
    dd Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repellat incidunt doloribus voluptas similique ipsa at vitae molestiae explicabo quibusdam accusamus voluptates modi beatae dignissimos, pariatur porro iure perferendis error?
    dt Caption
    dd Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repellat incidunt doloribus voluptas similique ipsa at vitae molestiae explicabo quibusdam accusamus voluptates modi beatae dignissimos, pariatur porro iure perferendis error?
    dt Caption
    dd Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repellat incidunt doloribus voluptas similique ipsa at vitae molestiae explicabo quibusdam accusamus voluptates modi beatae dignissimos, pariatur porro iure perferendis error?
    
  h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem mollitia eaque doloremque! Commodi nemo eaque alias qui dolore, illum labore consequatur, explicabo natus deleniti id cupiditate vel? Doloremque, voluptatem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facere sequi atque tempore, earum, quidem sunt doloremque pariatur dignissimos corrupti deserunt quis laborum fugit harum, omnis laudantium saepe cupiditate accusamus?
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, hic error, reprehenderit dicta eum exercitationem ducimus deserunt voluptatem sit, atque nemo blanditiis. Velit hic facilis eveniet ullam ducimus cumque nam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit accusantium nostrum sunt deserunt quia soluta, sequi vitae commodi placeat quibusdam porro ipsa necessitatibus minus quae aliquid facere! Accusamus, quae tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aperiam molestiae deserunt dolore facere officia optio excepturi maiores nesciunt atque iure unde, vitae, quo nam. Rerum iure nihil corporis ea!
